{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- section -->

<section class="section bg-light documents">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-light">
                    Przeprowadzenie każdej czynności notarialnej powinno zostać poprzedzone
                    kontaktem
                    z notariuszem lub pracownikiem tutejszej kancelarii notarialnej, co pozwoli
                    ustalić rodzaj
                    czynności, jaka ma być wykonana oraz rodzaj dokumentów, jakie należy przedłożyć
                    w kancelarii przed dokonaniem określonej czynności. Wszystkie dokumenty
                    konieczne do
                    sporządzenia danej czynności notarialnej, powinny być dostarczone do notariusza
                    wcześniej,
                    czyli przed umówionym terminem jej dokonania (co najmniej na jeden dzień roboczy
                    przed
                    ustalonym terminem dokonania czynności). Nie dotyczy to oczywiście mniej
                    skomplikowanych czynności – takich, jak testament lub pełnomocnictwo. Można
                    również
                    przesyłać skany dokumentów na adres e-mail tutejszej kancelarii:
                    <a href="mailto:kancelaria@notariuszwrzeszowie.pl">kancelaria@notariuszwrzeszowie.pl</a>.
                    Wcześniejsze dostarczenie dokumentów umożliwi notariuszowi sprawdzenie ich
                    prawidłowości oraz dokonanie oceny czy stanowią one wystarczającą podstawę do
                    sporządzenia danej czynności.
                </p>
                <p class="text-light">
                    Przy dokonaniu dowolnej czynności notarialnej należy okazać dokument tożsamości
                    (dowód
                    osobisty, paszport, kartę pobytu). Posiadanie przy sobie ważnego dokumentu
                    potwierdzającego tożsamość jest warunkiem koniecznym do przystąpienia do aktu
                    notarialnego. Jeśli do aktu przystępuje pełnomocnik - winien mieć przy sobie
                    oryginał
                    pełnomocnictwa. Jeśli strona umowy pozostaje w związku małżeńskim, w którym
                    obowiązuje
                    umowny ustrój majątkowy – należy okazać wypis aktu notarialnego dokumentującego
                    umowę majątkową lub prawomocny wyrok sądu.
                </p>
                <p class="text-light">
                    Poniżej przedstawiam listę podstawowych dokumentów. Proszę ją jednak traktować
                    jako
                    wstępną listę, ponieważ w zależności od stanu faktycznego notariusz może wymagać
                    jeszcze
                    innych dokumentów. W razie wątpliwości - prosimy o kontakt z tutejszą
                    kancelarią.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section documents">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="#zbycie-dzialki" class="btn-block btn-link btn-sm font-primary text-left mb-0">
                    Zbycie działki - sprzedaż, darowizna, zamiana (zabudowanej, niezabudowanej, rolnej, budowlanej)
                </a>
                <a href="#zbycie-lokalu" class="btn-block btn-link btn-sm font-primary text-left mb-0">
                    Zbycie lokalu stanowiącego odrębną nieruchomość - sprzedaż, darowizna, zamiana (mieszkalnego, niemieszkalnego)
                </a>
                <a href="#zbycie-spoldzielczego-wlasnościowego-prawa-do-lokalu" class="btn-block btn-link btn-sm font-primary text-left mb-0">
                    Zbycie spółdzielczego własnościowego prawa do lokalu - sprzedaż, darowizna, zamiana
                </a>
                <a href="#umowa-rozdzielnosci-majatkowej" class="btn-block btn-link btn-sm font-primary text-left mb-0">
                    Umowa rozdzielności majątkowej
                </a>
                <a href="#akt-poswiadczenia-dziedziczenia" class="btn-block btn-link btn-sm font-primary text-left mb-0">
                    Akt poświadczenia dziedziczenia
                </a>
                <a href="#oswiadczenie-o-przyjeciu-odrzuceniu-spadku" class="btn-block btn-link btn-sm font-primary text-left mb-0">
                    Oświadczenie o przyjęciu / odrzuceniu spadku
                </a>
                <a href="#oswiadczenie-o-poddaniu-sie-rygorowi-egzekucji" class="btn-block btn-link btn-sm font-primary text-left mb-0">
                    Oświadczenie o poddaniu się rygorowi egzekucji
                </a>
                <a href="#umowa-ustanowienia-odrebnej-wlasnosci-lokalu" class="btn-block btn-link btn-sm font-primary text-left mb-0">
                    Umowa ustanowienia odrębnej własności lokalu
                </a>
                <a href="#ustanowienie-hipoteki-lub-sluzebnosci" class="btn-block btn-link btn-sm font-primary text-left mb-0">
                    Ustanowienie hipoteki lub służebności
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light documents">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <div class="documents-items" id="zbycie-dzialki">
                    <div>
                        <h5 class="documents-item--title text-dark text-center mb-20">
                            Zbycie działki - sprzedaż, darowizna, zamiana (zabudowanej,
                            niezabudowanej,
                            rolnej, budowlanej):
                        </h5>
                        <p class="text-light">
                            1. numer księgi wieczystej / odpis z księgi wieczystej,
                        </p>
                        <p class="text-light">
                            2. podstawa nabycia (akt notarialny, postanowienie sądu np. o stwierdzeniu nabycia spadku, akt poświadczenia dziedziczenia),
                        </p>
                        <p class="text-light mb-0">
                            3. wypis z rejestru gruntów lub wypis z rejestru gruntów wraz z wyrysem z mapy ewidencyjnej, jeżeli:
                        </p>
                        <p class="text-light ml-2">
                            1) powierzchnia działki w księdze wieczystej jest inna niż w ewidencji
                            geodezyjnej,<br>
                            2) działka ma być wydzielona do nowej księgi wieczystej,
                        </p>
                        <p class="text-light">
                            4. zaświadczenie z miejscowego planu zagospodarowania przestrzennego
                            gminy dla
                            działki, ewentualnie zaświadczenie o braku takiego planu lub ważna
                            decyzja o
                            warunkach zabudowy,
                        </p>
                        <p class="text-light">
                            5. zaświadczenie stwierdzające czy nieruchomość znajduje się w obszarze
                            rewitalizacji,
                        </p>
                        <p class="text-light">
                        6. zaświadczenie zawierające informację czy działka jest objęta
                            uproszczonym planem
                            urządzenia lasu lub decyzją starosty wydaną na podstawie inwentaryzacji
                            lasów,
                        </p>
                        <p class="text-light">
                        7. ostateczna decyzja zatwierdzająca podział nieruchomości oraz mapa z
                            projektem
                            podziału nieruchomości wraz z wykazem zmian gruntowych – jeżeli
                            przedmiotem
                            umowy jest nieruchomość (lub jej część), która uległa podziałowi, a
                            podział ten nie
                            został ujawniony w księdze wieczystej,
                        </p>
                        <p class="text-light">
                        8. oświadczenie banku o udzieleniu kredytu oraz umowa kredytowa - w
                            przypadku gdy
                            nabycie jest finansowane ze środków pochodzących z kredytu bankowego,
                        </p>
                        <p class="text-light">
                        9. oświadczenie banku o aktualnej wysokości zadłużenia oraz terminie i
                            warunkach
                            zwolnienia zabezpieczenia hipotecznego w przypadku pełnej spłaty
                            wierzytelności lub
                            oświadczenie banku zawierające zgodę na wykreślenie hipoteki -
                            przypadku, gdy
                            przedmiotowa nieruchomość obciążona jest hipoteką),
                        </p>
                        <p class="text-light mb-0">
                        10. zaświadczenie Naczelnika Urzędu Skarbowego stwierdzające, że podatek
                            od spadków
                            i darowizn został zapłacony lub że nabycie jest zwolnione od podatku
                            albo że
                            zobowiązanie podatkowe wygasło wskutek przedawnienia – w sytuacji, gdy:
                        </p>
                        <p class="text-light ml-2 mb-0">
                            1) nabycie nastąpiło w drodze spadku lub zasiedzenia, <br>
                            2) nabycie nastąpiło w drodze darowizny, polecenia darczyńcy,
                            nieodpłatnego
                            zniesienia współwłasności i zachowku po dniu 01 stycznia 2007 roku.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section documents">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="documents-items" id="zbycie-lokalu">
                    <div>
                        <h5 class="documents-item--title text-dark text-center mb-20">
                            Zbycie lokalu stanowiącego odrębną nieruchomość - sprzedaż, darowizna, zamiana
                            (mieszkalnego, niemieszkalnego):
                        </h5>
                        <p class="text-light">
                            1. numer księgi wieczystej / odpis z księgi wieczystej,
                        </p>
                        <p class="text-light">
                            2. podstawa nabycia (akt notarialny, postanowienie sądu np. o stwierdzeniu nabycia spadku, akt poświadczenia dziedziczenia),
                        </p>
                        <p class="text-light">
                            3. zaświadczenie, z którego wynika, że w lokalu nikt nie jest zameldowany (w przypadku lokalu mieszkalnego),
                        </p>
                        <p class="text-light">
                            4. zaświadczenie o braku zadłużenia w płatności opłat eksploatacyjnych,
                        </p>
                        <p class="text-light">
                            5. oświadczenie banku o udzieleniu kredytu oraz umowa kredytowa - w przypadku gdy nabycie jest finansowane ze środków pochodzących z kredytu bankowego,
                        </p>
                        <p class="text-light">
                            6. oświadczenie banku o aktualnej wysokości zadłużenia oraz terminie i warunkach zwolnienia zabezpieczenia hipotecznego w przypadku pełnej spłaty wierzytelności lub oświadczenie banku zawierające zgodę na wykreślenie hipoteki -  przypadku, gdy przedmiotowa nieruchomość obciążona jest hipoteką),
                        </p>
                        <p class="text-light mb-0">
                            7. zaświadczenie Naczelnika Urzędu Skarbowego stwierdzające, że podatek od spadków i darowizn został zapłacony lub że nabycie jest zwolnione od podatku albo że zobowiązanie podatkowe wygasło wskutek przedawnienia – w sytuacji, gdy:
                        </p>
                        <p class="text-light ml-2">
                            1) nabycie nastąpiło w drodze spadku lub zasiedzenia,<br>
                            2) nabycie nastąpiło w drodze darowizny, polecenia darczyńcy, nieodpłatnego zniesienia współwłasności i zachowku po dniu 01 stycznia 2007 roku.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light documents">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="documents-items" id="zbycie-spoldzielczego-wlasnościowego-prawa-do-lokalu">
                    <div>
                        <h5 class="documents-item--title text-dark text-center mb-20">
                            Zbycie spółdzielczego własnościowego prawa do lokalu - sprzedaż, darowizna, zamiana:
                        </h5>
                        <p class="text-light">
                            1. numer księgi wieczystej / odpis z księgi wieczystej, jeżeli została założona,
                        </p>
                        <p class="text-light">
                            2. zaświadczenie ze spółdzielni o przysługującym prawie do lokalu,
                        </p>
                        <p class="text-light">
                            3. podstawa nabycia (akt notarialny, postanowienie sądu np. o stwierdzeniu nabycia spadku, akt poświadczenia dziedziczenia, przydział lokalu),
                        </p>
                        <p class="text-light">
                            4. zaświadczenie, z którego wynika, że w lokalu nikt nie jest zameldowany,
                        </p>
                        <p class="text-light">
                            5. zaświadczenie o braku zadłużenia w płatności opłat eksploatacyjnych,
                        </p>
                        <p class="text-light">
                            6. wypis z rejestru gruntów wraz z wyrysem z mapy ewidencyjnej, jeżeli będzie zakładana księga wieczysta dla lokalu,
                        </p>
                        <p class="text-light">
                            7. oświadczenie banku o udzieleniu kredytu oraz umowa kredytowa - w przypadku gdy nabycie jest finansowane ze środków pochodzących z kredytu bankowego,
                        </p>
                        <p class="text-light">
                            8. oświadczenie banku o aktualnej wysokości zadłużenia oraz terminie i warunkach zwolnienia zabezpieczenia hipotecznego w przypadku pełnej spłaty wierzytelności lub oświadczenie banku zawierające zgodę na wykreślenie hipoteki -  przypadku, gdy przedmiotowe prawo obciążone jest hipoteką),
                        </p>
                        <p class="text-light mb-0">
                            9. zaświadczenie Naczelnika Urzędu Skarbowego stwierdzające, że podatek od spadków i darowizn został zapłacony lub że nabycie jest zwolnione od podatku albo że zobowiązanie podatkowe wygasło wskutek przedawnienia – w sytuacji, gdy:
                        </p>
                        <p class="text-light ml-2 mb-0">
                            1) nabycie nastąpiło w drodze spadku lub zasiedzenia,<br>
                            2) nabycie nastąpiło w drodze darowizny, polecenia darczyńcy, nieodpłatnego zniesienia współwłasności i zachowku po dniu 01 stycznia 2007 roku.                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section documents">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="documents-items" id="umowa-rozdzielnosci-majatkowej">
                    <div>
                        <h5 class="documents-item--title text-dark text-center mb-20">
                            Umowa rozdzielności majątkowej:
                        </h5>
                        <p class="text-light mb-0">
                            1. odpis skrócony aktu małżeństwa
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light documents">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="documents-items" id="akt-poswiadczenia-dziedziczenia">
                    <div>
                        <h5 class="documents-item--title text-dark text-center mb-20">
                            Akt poświadczenia dziedziczenia:
                        </h5>
                        <p class="text-light">
                            1. akt zgonu spadkodawcy,
                        </p>
                        <p class="text-light">
                            2. testament spadkodawcy, jeżeli został sporządzony,
                        </p>
                        <p class="text-light">
                            3. akty stanu cywilnego spadkobierców: odpisy skrócone aktów urodzenia (mężczyźni, kobiety niezamężne) lub odpisy skrócone aktów małżeństwa (kobiety zamężne),
                        </p>
                        <p class="text-light">
                            4. dokument z nr PESEL zmarłego – np. „przecięty” dowód osobisty zmarłego lub zaświadczenie z właściwej gminy o numerze PESEL zmarłego,
                        </p>
                        <p class="text-light">
                            5. numer księgi wieczystej / odpis z księgi wieczystej, prowadzonej dla każdej wchodzącej w skład spadku nieruchomości, lokalu, prawa użytkowania wieczystego lub spółdzielczego własnościowego prawa do lokalu mieszkalnego,
                        </p>
                        <p class="text-light">
                            6. oświadczenia o przyjęciu lub odrzuceniu spadku (jeżeli były składane),
                        </p>
                        <p class="text-light mb-0">
                            7. umowa o zrzeczenie się dziedziczenia (jeżeli została zawarta).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section documents">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="documents-items" id="oswiadczenie-o-przyjeciu-odrzuceniu-spadku">
                    <div>
                        <h5 class="documents-item--title text-dark text-center mb-20">
                            Oświadczenie o przyjęciu / odrzuceniu spadku
                        </h5>
                        <p class="text-light mb-0">
                            1. odpis skrócony aktu zgonu spadkodawcy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light documents">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="documents-items" id="oswiadczenie-o-poddaniu-sie-rygorowi-egzekucji">
                    <div>
                        <h5 class="documents-item--title text-dark text-center mb-20">
                            Oświadczenie o poddaniu się rygorowi egzekucji:
                        </h5>
                        <p class="text-light mb-0">
                            1. umowa, w której określony jest obowiązek poddania się egzekucji (np. umowa najmu, dzierżawy, pożyczki, dotacje z Funduszu Pracy).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section documents">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="documents-items" id="umowa-ustanowienia-odrebnej-wlasnosci-lokalu">
                    <div>
                        <h5 class="documents-item--title text-dark text-center mb-20">
                            Umowa ustanowienia odrębnej własności lokalu:
                        </h5>
                        <p class="text-light">
                            1. numer księgi wieczystej / odpis z księgi wieczystej,
                        </p>
                        <p class="text-light">
                            2. wypis z rejestru gruntów wraz z wyrysem z mapy ewidencyjnej,
                        </p>
                        <p class="text-light">
                            3. podstawa nabycia (akt notarialny, postanowienie sądu np. o stwierdzeniu nabycia spadku, akt poświadczenia dziedziczenia, przydział lokalu),
                        </p>
                        <p class="text-light mb-0">
                            4. zaświadczenie Naczelnika Urzędu Skarbowego stwierdzające, że podatek od spadków i darowizn został zapłacony lub że nabycie jest zwolnione od podatku albo że zobowiązanie podatkowe wygasło wskutek przedawnienia – w sytuacji, gdy:
                        </p>
                        <p class="text-light ml-2">
                            1) nabycie nastąpiło w drodze spadku lub zasiedzenia,<br>
                            2) nabycie nastąpiło w drodze darowizny, polecenia darczyńcy, nieodpłatnego zniesienia współwłasności i zachowku po dniu 01 stycznia 2007 roku.
                        </p>
                        <p class="text-light">
                            5. rzuty lokali,
                        </p>
                        <p class="text-light">
                            6. zaświadczenie o samodzielności lokali,
                        </p>
                        <p class="text-light mb-0">
                            7. inwentaryzacja budynku.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light documents">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="documents-items" id="ustanowienie-hipoteki-lub-sluzebnosci">
                    <div>
                        <h5 class="documents-item--title text-dark text-center mb-20">
                            Ustanowienie hipoteki lub służebności:
                        </h5>
                        <p class="text-light">
                            1. numer księgi wieczystej / odpis z księgi wieczystej,
                        </p>
                        <p class="text-light">
                            2. podstawa nabycia (akt notarialny, postanowienie sądu np. o stwierdzeniu nabycia spadku, akt poświadczenia dziedziczenia),
                        </p>
                        <p class="text-light mb-0">
                            3. wypis z rejestru gruntów lub wypis z rejestru gruntów wraz z wyrysem z mapy ewidencyjnej, jeżeli:
                        </p>
                        <p class="text-light ml-2">
                            1) powierzchnia działki w księdze wieczystej jest inna niż w ewidencji geodezyjnej,<br>
                            2) działka ma być wydzielona do nowej księgi wieczystej,
                        </p>
                        <p class="text-light mb-0">
                            4. zaświadczenie Naczelnika Urzędu Skarbowego stwierdzające, że podatek od spadków i darowizn został zapłacony lub że nabycie jest zwolnione od podatku albo że zobowiązanie podatkowe wygasło wskutek przedawnienia – w sytuacji, gdy:
                        </p>
                        <p class="text-light ml-2 mb-0">
                            1) nabycie nastąpiło w drodze spadku lub zasiedzenia,<br>
                            2) nabycie nastąpiło w drodze darowizny, polecenia darczyńcy, nieodpłatnego zniesienia współwłasności i zachowku po dniu 01 stycznia 2007 roku.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /section -->
{{ end }}