{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- section -->

<section class="section documents">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-light">
                    Przeprowadzenie każdej czynności notarialnej powinno zostać poprzedzone
                    kontaktem
                    z notariuszem lub pracownikiem tutejszej kancelarii notarialnej, co pozwoli
                    ustalić rodzaj
                    czynności, jaka ma być wykonana oraz rodzaj dokumentów, jakie należy przedłożyć
                    w kancelarii przed dokonaniem określonej czynności. Wszystkie dokumenty
                    konieczne do
                    sporządzenia danej czynności notarialnej, powinny być dostarczone do notariusza
                    wcześniej,
                    czyli przed umówionym terminem jej dokonania (co najmniej na jeden dzień roboczy
                    przed
                    ustalonym terminem dokonania czynności). Nie dotyczy to oczywiście mniej
                    skomplikowanych czynności – takich, jak testament lub pełnomocnictwo. Można
                    również
                    przesyłać skany dokumentów na adres e-mail tutejszej kancelarii:
                    <a href="mailto:kancelaria@notariuszwrzeszowie.pl">kancelaria@notariuszwrzeszowie.pl</a>.
                    Wcześniejsze dostarczenie dokumentów umożliwi notariuszowi sprawdzenie ich
                    prawidłowości oraz dokonanie oceny czy stanowią one wystarczającą podstawę do
                    sporządzenia danej czynności.
                </p>
                <p class="text-light">
                    Przy dokonaniu dowolnej czynności notarialnej należy okazać dokument tożsamości
                    (dowód
                    osobisty, paszport, kartę pobytu). Posiadanie przy sobie ważnego dokumentu
                    potwierdzającego tożsamość jest warunkiem koniecznym do przystąpienia do aktu
                    notarialnego. Jeśli do aktu przystępuje pełnomocnik - winien mieć przy sobie
                    oryginał
                    pełnomocnictwa. Jeśli strona umowy pozostaje w związku małżeńskim, w którym
                    obowiązuje
                    umowny ustrój majątkowy – należy okazać wypis aktu notarialnego dokumentującego
                    umowę majątkową lub prawomocny wyrok sądu.
                </p>
                <p class="text-light">
                    Poniżej przedstawiam listę podstawowych dokumentów. Proszę ją jednak traktować
                    jako
                    wstępną listę, ponieważ w zależności od stanu faktycznego notariusz może wymagać
                    jeszcze
                    innych dokumentów. W razie wątpliwości - prosimy o kontakt z tutejszą
                    kancelarią.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section documents bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="#zbycie-dzialki">
                    <button class="btn-sm btn-link btn-block">
                    Zbycie działki - sprzedaż, darowizna, zamiana (zabudowanej,
                    niezabudowanej, rolnej, budowlanej)
                    </button>
                </a>
                <a href="#">
                    <button class="btn-sm btn-link btn-block">
                    Zbycie lokalu stanowiącego odrębną nieruchomość - sprzedaż, darowizna,
                    zamiana (mieszkalnego, niemieszkalnego)
                    </button>
                </a>
                <div class="documents-items" id="zbycie-dzialki">
                    <div>
                        <h5 class="documents-item--title text-dark text-center mb-20">
                            Zbycie działki - sprzedaż, darowizna, zamiana (zabudowanej,
                            niezabudowanej,
                            rolnej, budowlanej):
                        </h5>
                        <p class="text-light">
                            1. numer księgi wieczystej / odpis z księgi wieczystej,</p>
                        <p class="text-light">
                        2. podstawa nabycia (akt notarialny, postanowienie sądu np. o
                            stwierdzeniu nabycia spadku, akt poświadczenia dziedziczenia),</p>
                        <p class="text-light mb-0">
                        3. wypis z rejestru gruntów lub wypis z rejestru gruntów wraz z wyrysem
                            z mapy ewidencyjnej, jeżeli:
                        </p>
                        <p class="text-light ml-2">
                            1) powierzchnia działki w księdze wieczystej jest inna niż w ewidencji
                            geodezyjnej,<br>
                            2) działka ma być wydzielona do nowej księgi wieczystej,</p>
                        <p class="text-light">
                            4. zaświadczenie z miejscowego planu zagospodarowania przestrzennego
                            gminy dla
                            działki, ewentualnie zaświadczenie o braku takiego planu lub ważna
                            decyzja o
                            warunkach zabudowy,<br>
                            5. zaświadczenie stwierdzające czy nieruchomość znajduje się w obszarze
                            rewitalizacji,<br>
                            6. zaświadczenie zawierające informację czy działka jest objęta
                            uproszczonym planem
                            urządzenia lasu lub decyzją starosty wydaną na podstawie inwentaryzacji
                            lasów,<br>
                            7. ostateczna decyzja zatwierdzająca podział nieruchomości oraz mapa z
                            projektem
                            podziału nieruchomości wraz z wykazem zmian gruntowych – jeżeli
                            przedmiotem
                            umowy jest nieruchomość (lub jej część), która uległa podziałowi, a
                            podział ten nie
                            został ujawniony w księdze wieczystej,<br>
                            8. oświadczenie banku o udzieleniu kredytu oraz umowa kredytowa - w
                            przypadku gdy
                            nabycie jest finansowane ze środków pochodzących z kredytu bankowego,<br>
                            9. oświadczenie banku o aktualnej wysokości zadłużenia oraz terminie i
                            warunkach
                            zwolnienia zabezpieczenia hipotecznego w przypadku pełnej spłaty
                            wierzytelności lub
                            oświadczenie banku zawierające zgodę na wykreślenie hipoteki -
                            przypadku, gdy
                            przedmiotowa nieruchomość obciążona jest hipoteką),<br>
                            10. zaświadczenie Naczelnika Urzędu Skarbowego stwierdzające, że podatek
                            od spadków
                            i darowizn został zapłacony lub że nabycie jest zwolnione od podatku
                            albo że
                            zobowiązanie podatkowe wygasło wskutek przedawnienia – w sytuacji, gdy :</p>
                        <p class="text-light ml-2">
                            1) nabycie nastąpiło w drodze spadku lub zasiedzenia, <br>
                            2) nabycie nastąpiło w drodze darowizny, polecenia darczyńcy,
                            nieodpłatnego
                            zniesienia współwłasności i zachowku po dniu 01 stycznia 2007 roku.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /section -->
{{ end }}