{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- section -->

<section class="section bg-light helpful-links">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-80">
                    <h4 class="font-primary">Poniżej zamieszczam adresy aktów prawnych, które mogą okazać się pomocne:</h4>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <article class="card shadow">
                    <i class="icon mb-5 fas fa-link text-center mt-40"></i>
                    <div class="card-body">
                        <h4 class="card-title"><a class="text-dark" href="#elooo">Elo</a>
                        </h4>
                        <p class="cars-text">Summary</p>
                        <a href="{{.Permalink}}" class="btn btn-xs btn-primary">Read More</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- /section -->
{{ end }}