{{ define "main" }}

<!-- page title -->
<section class="page-title przydatne" data-background="{{`images/przydatne-linki.jpg` | relURL}}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="font-tertiary">{{.Title}}</h1>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- section -->

<section class="section bg-light helpful-links">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-80">
                    <h4 class="font-primary">Poniżej zamieszczam adresy aktów prawnych, które mogą okazać się pomocne:</h4>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 14 lutego 1991 r. Prawo o notariacie</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU19910220091" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Obwieszczenie Ministra Sprawiedliwości z dnia 3 stycznia 2018 r. w sprawie ogłoszenia jednolitego tekstu rozporządzenia Ministra Sprawiedliwości w sprawie maksymalnych stawek taksy notarialnej</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU20180000272" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz obwieszczenie</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 17 listopada 1964 r. - Kodeks postępowania cywilnego</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU19640430296" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 23 kwietnia 1964 r. - Kodeks cywilny</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU19640160093" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 15 września 2000 r. Kodeks spółek handlowych</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU20000941037" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 25 lutego 1964 r. - Kodeks rodzinny i opiekuńczy</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU19640090059" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 21 sierpnia 1997 r. o gospodarce nieruchomościami</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU19971150741" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 19 października 1991 r. o gospodarowaniu nieruchomościami rolnymi Skarbu Państwa</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU19911070464" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 6 lipca 1982 r. o księgach wieczystych i hipotece</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU19820190147" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 1 marca 2018 r. o przeciwdziałaniu praniu pieniędzy oraz finansowaniu terroryzmu</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU20180000723" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Konstytucja Rzeczypospolitej Polskiej z dnia 2 kwietnia 1997 r. uchwalona przez Zgromadzenie Narodowe w dniu 2 kwietnia 1997 r., przyjęta przez Naród w referendum konstytucyjnym w dniu 25 maja 1997 r., podpisana przez Prezydenta Rzeczypospolitej Polskiej w dniu 16 lipca 1997 r.</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU19970780483" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz konstytucję</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 28 lipca 1983 r. o podatku od spadków i darowizn</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU19830450207" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 9 września 2000 r. o podatku od czynności cywilnoprawnych</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU20000860959" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 28 lipca 2005 r. o kosztach sądowych w sprawach cywilnych</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU20051671398" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 20 lipca 2017 r. - Prawo wodne</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU20170001566" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 9 października 2015 r. o rewitalizacji</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU20150001777" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 11 kwietnia 2003 r. o kształtowaniu ustroju rolnego</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU20030640592" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 12 stycznia 1991 r. o podatkach i opłatach lokalnych</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU19910090031" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 29 sierpnia 1997 r. - Ordynacja podatkowa</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU19971370926" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Ustawa z dnia 10 września 1999 r. Kodeks karny skarbowy</p>
                        <a href="http://prawo.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU19990830930" target="_blank" class="btn btn-xs btn-primary font-primary">pobierz ustawę</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="section helpful-links">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-80">
                    <h4 class="font-primary">Ponadto zamieszczam adresy witryn internetowych, które mogą okazać się pomocne:</h4>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow-dark">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Wyszukiwarka Księgi Wieczystej</p>
                        <a href="https://przegladarka-ekw.ms.gov.pl/eukw_prz/KsiegiWieczyste/wyszukiwanieKW?komunikaty=true&kontakt=true&okienkoSerwisowe=false" target="_blank" class="btn btn-xs btn-primary font-primary">zobacz</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow-dark">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Składanie wniosków o wydanie dokumentu z Centralnej Informacji Ksiąg Wieczystych</p>
                        <a href="https://ekw.ms.gov.pl/eukw_ogol/zlecenie?execution=e1s1" target="_blank" class="btn btn-xs btn-primary font-primary">zobacz</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow-dark">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Krajowa Rada Notarialna</p>
                        <a href="https://www.krn.org.pl/" target="_blank" class="btn btn-xs btn-primary font-primary">zobacz</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow-dark">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Izba Notarialna w Rzeszowie</p>
                        <a href="http://notariatrzeszow.pl/" target="_blank" class="btn btn-xs btn-primary font-primary">zobacz</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow-dark">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Sejm Rzeczypospolitej Polskiej</p>
                        <a href="www.sejm.gov.pl" target="_blank" class="btn btn-xs btn-primary font-primary">zobacz</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow-dark">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Rejestry Notarialne</p>
                        <a href="www.rejestrynotarialne.pl" target="_blank" class="btn btn-xs btn-primary font-primary">zobacz</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow-dark">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Wyszukiwarka KRS</p>
                        <a href="https://ekrs.ms.gov.pl/web/wyszukiwarka-krs/strona-glowna/index.html" target="_blank" class="btn btn-xs btn-primary font-primary">zobacz</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow-dark">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Internetowy System Aktów Prawnych</p>
                        <a href="http://isap.sejm.gov.pl" target="_blank" class="btn btn-xs btn-primary font-primary">zobacz</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow-dark">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Wyszukiwarka wpisów w CEIDG</p>
                        <a href="https://prod.ceidg.gov.pl/CEIDG/CEIDG.Public.UI/Search.aspx" target="_blank" class="btn btn-xs btn-primary font-primary">zobacz</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow-dark">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Krajowy Ośrodek Wsparcia Rolnictwa</p>
                        <a href="http://www.kowr.gov.pl/" target="_blank" class="btn btn-xs btn-primary font-primary">zobacz</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow-dark">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Geoportal Krajowy</p>
                        <a href="https://www.geoportal.gov.pl/" target="_blank" class="btn btn-xs btn-primary font-primary">zobacz</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow-dark">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Sąd Rejonowy w Rzeszowie</p>
                        <a href="http://rzeszow.sr.gov.pl/" target="_blank" class="btn btn-xs btn-primary font-primary">zobacz</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow-dark">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Urząd Miasta Rzeszowa</p>
                        <a href="http://www.rzeszow.pl/" target="_blank" class="btn btn-xs btn-primary font-primary">zobacz</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 helpful-links--item">
                <article class="card shadow-dark">
                    <i class="icon mb-3 fas fa-link text-center"></i>
                    <div class="card-body">
                        <p class="cars-text">Starostwo Powiatowe w Rzeszowie</p>
                        <a href="https://www.powiat.rzeszow.pl/" target="_blank" class="btn btn-xs btn-primary font-primary">zobacz</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- /section -->
{{ end }}