{{ define "main" }}

<!-- page title -->
<section class="page-title oplaty" data-background="{{`images/cookies.jpg` | relURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="font-tertiary">{{.Title}}</h1>
      </div>
    </div>
  </div>

</section>
<!-- /page title -->

<section class="section bg-light payments">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="documents-items">
          <div>
            <h5 class="documents-item--title text-dark text-center mb-20">
              Czym są pliki cookies
            </h5>
            <p class="text-light mb-0">
              Pliki cookies to małe pliki tekstowe zapisywane przez serwis internetowy na urządzeniu końcowym użytkownika (komputer, urządzenie przenośne) za pośrednictwem przeglądarki. Pliki te są odczytywane lub modyfikowane podczas kolejnych wizyt i mogą zawierać podstawowe informacje o użytkowniku, jego indywidualnych ustawieniach wyglądu czy też działania serwisu lub jakiekolwiek inne dane przydatne twórcom do stworzenia lepszego serwisu.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section payments">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="documents-items">
          <div>
            <h5 class="documents-item--title text-dark text-center mb-20">
              Pliki cookies użuwane przez naszą stronę
            </h5>
            <p class="text-light mb-0">
              W ramach Serwisu stosowane są dwa zasadnicze rodzaje plików cookies: “sesyjne” (session cookies) oraz “stałe” (persistent cookies). Cookies “sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym Użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). “Stałe” pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez czas określony w parametrach plików cookies lub do czasu ich usunięcia przez Użytkownika.
              Pliki cookies wykorzystywane są również do tworzenia statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy Serwisu korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości. Do tworzenia statystyk wykorzystywane jest narzędzie Google Analytics.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section payments">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="documents-items">
          <div>
            <h5 class="documents-item--title text-dark text-center mb-20">
              Zarządzanie plikami cookies
            </h5>
            <p class="text-light mb-0">
              Każda przeglądarka w większym lub mniejszym stopniu (np. na urządzeniach przenośnych) oferuje możliwość przeglądania, usuwania oraz ograniczania i kontrolowania przyjmowania plików cookies. Zapoznaj się z treścią pomocy lub ustawieniami prywatności/bezpieczeństwa w przeglądarce z której korzystasz.
              Usunięcie aktualnych plików cookies może spowodować potrzebę ponownego wykonania pewnych czynności w serwisie, a zablokowanie przyjmowania niektórych plików może uniemożliwić korzystanie z pewnych funkcji serwisu.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /section -->
{{ end }}