{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- section -->
<section class="section bg-light payments">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-light">
                    Proszę o bezpośredni kontakt z moją kancelarią notarialną – telefoniczny, bądź mailowy,
                    celem określenia dokładnych kosztów, wraz z należnościami podatkowymi i opłatami
                    sądowymi. Zostaniecie Państwo wówczas szczegółowo poinformowani o wszystkich
                    należnościach związanych z czynnością, którą chcecie Państwo dokonać. Jeśli Państwa
                    sprawa jest skomplikowana lub preferujecie Państwo osobisty kontakt z notariuszem,
                    zapraszam na wizytę do mojej kancelarii notarialnej. Wszelkie porady prawne, informacje i
                    wyjaśnienia podczas wykonywania czynności notarialnych są bezpłatne.
                </p>
                <p class="text-light">
                    Poniżej zamieszczam krótką informację na temat kosztów związanych z dokonaniem
                    czynności notarialnych.
                </p>
                <p class="text-light">
                    Notariusz wymienia na każdym sporządzonym dokumencie wysokość pobranego
                    wynagrodzenia, podatków i innych opłat, powołując podstawę prawną.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section payments">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="#wynagrodzenie-notariusza" class="btn-block btn-link btn-sm font-primary text-left mb-0">
                    Wynagrodzenie notariusza
                </a>
                <a href="#podatki" class="btn-block btn-link btn-sm font-primary text-left mb-0">
                    Podatki
                </a>
                <a href="#oplaty-sadowe" class="btn-block btn-link btn-sm font-primary text-left mb-0">
                    Opłaty sądowe
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light payments">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="payments-items" id="wynagrodzenie-notariusza">
                    <div>
                        <h5 class="payments-item--title text-dark text-center mb-20">
                            Wynagrodzenie notariusza
                        </h5>
                        <p class="text-light">
                            Notariuszowi za dokonane czynności przysługuje wynagrodzenie. Wynagrodzenie to
                            określone jest na podstawie umowy ze stronami czynności, nie wyższe niż maksymalne
                            stawki taksy notarialnej właściwe dla danej czynności. W celu indywidualnego ustalenia taksy
                            notarialnej - proszę o kontakt z moją kancelarią notarialną.
                        </p>
                        <p class="text-light">
                            Maksymalne stawki taksy notarialnej właściwe dla danej czynności, określa Rozporządzenie
                            Ministra Sprawiedliwości z dnia 28 czerwca 2004 roku w sprawie maksymalnych stawek
                            taksy notarialnej, zgodnie z którym:
                        </p>
                        <p class="text-light mb-0">
                            § 1. Zakres rozporządzenia
                        </p>
                        <p class="text-light ml-2">
                            Rozporządzenie określa maksymalne stawki taksy notarialnej za czynności notarialne oraz maksymalne kwoty, o które może być zwiększone wynagrodzenie za dokonanie czynności notarialnych poza kancelarią notarialną.
                        </p>
                        <p class="text-light mb-0">
                            § 2. Podstawa określenia maksymalnej stawki
                        </p>
                        <p class="text-light ml-2 mb-0">
                            1. Z zastrzeżeniem § 8-16, maksymalna stawka taksy notarialnej za czynności notarialne, zwana dalej "maksymalną stawką", zależy od wartości przedmiotu czynności notarialnej.<br>
                            2. Z zastrzeżeniem ust. 3 i § 4, za wartość przedmiotu czynności notarialnej przyjmuje się wartość podaną przez stronę (strony) czynności, z uwzględnieniem zasad przewidzianych w ustawie z dnia 28 lipca 1983 r. o podatku od spadków i darowizn (Dz. U. z 2017 r. poz. 833 i 858) albo w ustawie z dnia 9 września 2000 r. o podatku od czynności cywilnoprawnych (Dz. U. z 2017 r. poz. 1150).<br>
                            3. Podstawą określenia maksymalnej stawki jest:
                        </p>
                        <p class="text-light ml-4">
                            1) przy umowie zamiany - najwyższa wartość zamienianego przedmiotu umowy;<br>
                            2) przy działach - ogólna wartość majątku podlegającego działowi;<br>
                            3) przy oddawaniu gruntu w użytkowanie wieczyste - wartość pierwszej opłaty, a przy jej braku - skapitalizowana wartość opłaty rocznej, stosownie do przepisów ustawy o podatku od spadków i darowizn;<br>
                            4) przy umowie o rentę, na podstawie której następuje zbycie nieruchomości, prawa użytkowania wieczystego albo spółdzielczego własnościowego prawa do lokalu - wartość tych rzeczy lub praw;<br>
                            5) przy licytacjach i przetargach - cena rzeczy uzyskana w wyniku licytacji lub przetargu;<br>
                            6) przy losowaniach nagród - wartość wylosowanych nagród;<br>
                            7) przy umowie dzierżawy (poddzierżawy) oraz najmu (podnajmu) - wartość świadczeń powtarzających się za czas, na jaki umowa została zawarta, a przy umowie zawartej na czas nieokreślony - wartość świadczeń za okres 10 lat;<br>
                            8) przy ustąpieniu pierwszeństwa hipotecznego - wartość przedmiotu czynności określona według pozycji posuwającej się naprzód, a jeżeli suma pozycji ustępującej jest niższa - według tej niższej sumy.<br>
                        </p>
                        <p class="text-light mb-0">
                            § 3. Maksymalna stawka od wartości
                        </p>
                        <p class="text-light ml-4">
                            1) do 3.000 zł - 100 zł;<br>
                            2) powyżej 3.000 zł do 10.000 zł - 100 zł + 3 % od nadwyżki powyżej 3.000 zł;<br>
                            3) powyżej 10.000 zł do 30.000 zł - 310 zł + 2 % od nadwyżki powyżej 10.000 zł;<br>
                            4) powyżej 30.000 zł do 60.000 zł - 710 zł + 1 % od nadwyżki powyżej 30.000 zł;<br>
                            5) powyżej 60.000 zł do 1.000.000 zł - 1.010 zł + 0,4 % od nadwyżki powyżej 60.000 zł;<br>
                            6) powyżej 1.000.000 zł do 2.000.000 zł - 4.770 zł + 0,2 % od nadwyżki powyżej 1.000.000 zł;<br>
                            7) powyżej 2.000.000 zł - 6.770 zł + 0,25 % od nadwyżki powyżej 2.000.000 zł, nie więcej jednak niż 10.000 zł, a w przypadku czynności dokonywanych pomiędzy osobami zaliczonymi do I grupy podatkowej w rozumieniu przepisów ustawy z dnia 28 lipca 1983 r. o podatku od spadków i darowizn nie więcej niż 7.500 zł.<br>
                        </p>
                        <p class="text-light mb-0">
                            § 5 Maksymalna stawka za akt notarialny
                        </p>
                        <p class="text-light ml-2">
                            Za sporządzenie aktu notarialnego jako maksymalną stawkę przyjmuje się stawkę przewidzianą w § 3, z zastrzeżeniem § 6 i 7.
                        </p>
                        <p class="text-light mb-0">
                            § 6. Stawka za akt notarialny dokumentujący umowy i inne czynności
                        </p>
                        <p class="text-light ml-2 mb-0">
                            Za sporządzenie aktu notarialnego dokumentującego:
                        </p>
                        <p class="text-light ml-4 mb-0">
                            1) umowę zobowiązującą, zawartą pod warunkiem lub z zastrzeżeniem terminu,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            2) umowę przenoszącą własność lub użytkowanie wieczyste, w wykonaniu umowy zobowiązującej,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            3) umowę sprzedaży nieruchomości rolnej z Zasobu Własności Rolnej Skarbu Państwa,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            4) umowę sprzedaży lokalu mieszkalnego lub nieruchomości gruntowej zabudowanej jednorodzinnym budynkiem mieszkalnym, dokonywanej przez Skarb Państwa, jednostki samorządu terytorialnego lub inne podmioty na podstawie ustaw przyznających nabywcom tych lokali lub nieruchomości bonifikaty od ceny,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            5) umowę zbycia spółdzielczego własnościowego prawa do lokalu,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            6) umowę zbycia własnościowego spółdzielczego prawa do lokalu mieszkalnego, spółdzielczego prawa do lokalu użytkowego, prawa do domu jednorodzinnego w spółdzielni mieszkaniowej (prawa do lokalu mieszkalnego w domu budowanym przez spółdzielnię mieszkaniową w celu przeniesienia jego własności na członka),
                        </p>
                        <p class="text-light ml-4 mb-0">
                            7) umowę zbycia ekspektatywy spółdzielczego własnościowego prawa do lokalu, odrębnej własności lokalu lub domu jednorodzinnego w trybie ustawy z dnia 15 grudnia 2000 r. o spółdzielniach mieszkaniowych (Dz. U. z 2013 r. poz. 1222, z 2015 r. poz. 201 oraz z 2017 r. poz. 1442 i 1596),
                        </p>
                        <p class="text-light ml-4 mb-0">
                            8) umowę ustanowienia odrębnej własności lokalu lub przeniesienia własności domu jednorodzinnego z prawem do gruntu, zawartych w wykonaniu umów o budowę lokalu lub domu, w trybie ustawy z dnia 15 grudnia 2000 r. o spółdzielniach mieszkaniowych,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            9) umowę przeniesienia własności lokalu lub domu jednorodzinnego z prawem do gruntu, przez spółdzielnię mieszkaniową,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            10) umowę przeniesienia własności, oddania w użytkowanie wieczyste lub przeniesienia prawa użytkowania wieczystego działki budowlanej na rzecz spółdzielni mieszkaniowej w trybie art. 35 uprawnienie do żądania przeniesienie własności działki budowlanej na spółdzielnię mieszkaniową ustawy z dnia 15 grudnia 2000 r. o spółdzielniach mieszkaniowych,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            11) ustanowienie hipoteki, z zastrzeżeniem § 7 ust. 1 pkt 1,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            12) przebieg licytacji lub przetargu,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            13) przyjęcie na przechowanie pieniędzy w walucie polskiej lub obcej,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            14) umowę zawieraną na podstawie przepisu art. 9 umowa o odrębną własność lokalu ustawy z dnia 24 czerwca 1994 r. o własności lokali (Dz. U. z 2015 r. poz. 1892 oraz z 2017 r. poz. 1529),
                        </p>
                        <p class="text-light ml-4 mb-0">
                            15) umowę darowizny lokalu stanowiącego odrębną nieruchomość, jeżeli umowa jest zawierana pomiędzy osobami zaliczanymi do I grupy podatkowej w rozumieniu przepisów ustawy z dnia 28 lipca 1983 r. o podatku od spadków i darowizn, a nabywcy są uprawnieni do skorzystania z ulgi, o której mowa w art. 16 ulga podatkowa w razie nabycia prawa do nieruchomości, ustawy z dnia 28 lipca 1983 r. o podatku od spadku i darowizn,
                        </p>
                        <p class="text-light ml-5 mb-0">
                            15a) umowę deweloperską,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            16) umowę ustanowienia odrębnej własności lokalu mieszkalnego i przeniesienia własności tego lokalu na nabywcę, w tym w wykonaniu umowy deweloperskiej,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            17) umowę sprzedaży nieruchomości gruntowej, stanowiącej działkę budowlaną w rozumieniu art. 2 objaśnienie pojęć pkt 12 ustawy z dnia 27 marca 2003 r. o planowaniu i zagospodarowaniu przestrzennym (Dz. U. z 2017 r. poz. 1073 i 1566)
                        </p>
                        <p class="text-light ml-4 mb-0">
                            18) umowę przeniesienia na nabywcę własności nieruchomości zabudowanej domem jednorodzinnym lub prawa użytkowania wieczystego nieruchomości gruntowej i własności domu jednorodzinnego na niej posadowionego, w tym w wykonaniu umowy deweloperskiej,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            19) umowę sprzedaży lokalu mieszkalnego,
                        </p>
                        <p class="text-light ml-5">
                            - maksymalna stawka wynosi połowę stawki przewidzianej w § 3.
                        </p>
                        <p class="text-light mb-0">
                            § 7. Stawki za projekt aktu notarialnego i aktu dokumentującego ustanowienie hipoteki i oświadczenia
                        </p>
                        <p class="text-light ml-2 mb-0">
                            1. Za sporządzenie projektu aktu notarialnego obejmującego umowę oraz za sporządzenie aktu notarialnego dokumentującego:
                        </p>
                        <p class="text-light ml-4 mb-0">
                            1) ustanowienie hipoteki w celu zabezpieczenia kredytu bankowego udzielonego na budownictwo mieszkaniowe, zakup domu mieszkalnego lub lokalu mieszkalnego albo na działalność gospodarczą,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            2) losowanie nagrody,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            3) potwierdzenie oświadczenia woli zawartego w innym akcie notarialnym
                        </p>
                        <p class="text-light ml-5 mb-0">
                            - maksymalna stawka wynosi 1/4 stawki przewidzianej w § 3.
                        </p>
                        <p class="text-light ml-2 mb-0">
                            2. Za sporządzenie aktu notarialnego dokumentującego:
                        </p>
                        <p class="text-light ml-4 mb-0">
                            1) oświadczenie o przystąpieniu do spółki z ograniczoną odpowiedzialnością lub objęciu udziałów w tej spółce,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            2) oświadczenie zawierające zgodę osób przystępujących do spółki akcyjnej na zawiązanie spółki, na brzmienie statutu i na objęcie akcji, wyrażoną w innym akcie niż akt obejmujący statut
                        </p>
                        <p class="text-light ml-5">
                            - maksymalna stawka wynosi 1/10 stawki przewidzianej w § 3.
                        </p>
                        <p class="text-light mb-0">
                            § 8. Stawki za sporządzenie aktu notarialnego dokumentującego umowy dotyczące nieruchomości, małżeńskie i testamenty
                        </p>
                        <p class="text-light ml-2 mb-0">
                            Maksymalna stawka wynosi za sporządzenie aktu notarialnego dokumentującego:
                        </p>
                        <p class="text-light ml-4 mb-0">
                            1) umowę zbycia nieruchomości, jeżeli w związku z tą umową następuje wypłata świadczeń z tytułu ubezpieczenia społecznego rolników albo renty strukturalnej współfinansowanej ze środków pochodzących z Sekcji Gwarancji Europejskiego Funduszu Orientacji i Gwarancji Rolnej - 600 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            2) umowę majątkową małżeńską - 400 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            3) testament - 50 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            3) testament - 50 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            4) testament zawierający zapis zwykły, polecenie lub pozbawienie uprawnionego prawa do zachowku - 150 zł;
                        </p>
                        <p class="text-light ml-5 mb-0">
                            4a) testament zawierający zapis windykacyjny - 200 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            5) odwołanie testamentu - 30 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            6) zwolnienie nieruchomości od obciążeń lub zrzeczenia się prawa, jeżeli wartości przedmiotu nie da się określić - 60 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            7) zrzeczenie się własności nieruchomości lub prawa użytkowania wieczystego - 80 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            8) pełnomocnictwo - do dokonania jednej czynności 30 zł, natomiast przy czynnościach zawierających umocowanie do dokonania więcej niż jednej czynności - 100 zł
                        </p>
                        <p class="text-light ml-4">
                            9) oświadczenie o przyjęciu lub odrzuceniu spadku - 50 zł.
                        </p>
                        <p class="text-light mb-0">
                            § 9. Stawki za czynności w sprawach z zakresu prawa handlowego
                        </p>
                        <p class="text-light ml-2 mb-0">
                            1. Z zastrzeżeniem ust. 2, maksymalna stawka wynosi:
                        </p>
                        <p class="text-light ml-4 mb-0">
                            1) za sporządzenie protokołu zgromadzenia wspólników spółki z ograniczoną odpowiedzialnością lub walnego zgromadzenia spółdzielni - 750 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            2) za sporządzenie protokołu walnego zgromadzenia akcjonariuszy - 1.100 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            3) za sporządzenie protokołu zgromadzenia wspólników innej spółki niż wymienione w pkt 1 i 2 albo protokołu posiedzenia zarządu, rady nadzorczej lub komisji rewizyjnej spółki prawa handlowego - 500 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            4) za sporządzenie protokołu zebrania wspólnoty mieszkaniowej - 300 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            5) za sporządzenie protokołu zawierającego oświadczenie towarzystwa funduszy inwestycyjnych o zmianie statutu funduszu inwestycyjnego - 1.000 zł.
                        </p>
                        <p class="text-light ml-2">
                            2. Za sporządzenie protokołu dokumentującego podwyższenie kapitału zakładowego spółki jako maksymalną stawkę przyjmuje się stawkę przewidzianą w § 3, przy czym podstawą określenia maksymalnej stawki jest różnica pomiędzy wysokością podwyższonego kapitału zakładowego a wysokością dotychczasowego kapitału zakładowego.
                        </p>
                        <p class="text-light mb-0">
                            § 10. Stawki za sporządzenie protokołów
                        </p>
                        <p class="text-light ml-2 mb-0">
                            Maksymalna stawka wynosi:
                        </p>
                        <p class="text-light ml-4 mb-0">
                            1) za sporządzenie protokołu niedojścia do skutku licytacji, przetargu lub losowania nagród - 100 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            2) za sporządzenie protokołu przyjęcia dokumentu na przechowanie - 50 zł, a za przechowanie dokumentu, od każdego dokumentu, za każdy rozpoczęty miesiąc - 20 zł;
                        </p>
                        <p class="text-light ml-4">
                            3) za sporządzenie innego protokołu - 200 zł.
                        </p>
                        <p class="text-light mb-0">
                            § 10a. Stawki za czynności w sprawach spadkowych
                        </p>
                        <p class="text-light ml-2 mb-0">
                            1. Za sporządzenie aktu poświadczenia dziedziczenia ustawowego lub testamentowego, uzupełniającego aktu poświadczenia dziedziczenia w zakresie spadkobierców dziedziczących gospodarstwo rolne maksymalna stawka wynosi 50 zł.
                        </p>
                        <p class="text-light ml-4 mb-0">
                            1a. Za sporządzenie aktu poświadczenia dziedziczenia testamentowego z zapisem windykacyjnym maksymalna stawka wynosi 100 zł.
                        </p>
                        <p class="text-light ml-2 mb-0">
                            2. Za sporządzenie protokołu dziedziczenia maksymalna stawka wynosi 100 zł.
                        </p>
                        <p class="text-light ml-4 mb-0">
                            2a. Za czynności dotyczące europejskiego poświadczenia spadkowego, z wyłączeniem czynności, o których mowa w ust. 2b i 2c oraz § 12, maksymalna stawka wynosi 400 zł.
                        </p>
                        <p class="text-light ml-4 mb-0">
                            2b. Za sporządzenie projektu protokołu dziedziczenia maksymalna stawka wynosi 100 zł.
                        </p>
                        <p class="text-light ml-4 mb-0">
                            2c. Za sporządzenie protokołu obejmującego oświadczenie o wyrażeniu zgody na spisanie protokołu dziedziczenia zgodnie z jego projektem maksymalna stawka wynosi 50 zł.
                        </p>
                        <p class="text-light ml-2 mb-0">
                            3. Za sporządzenie protokołu otwarcia i ogłoszenia testamentu maksymalna stawka wynosi 50 zł.
                        </p>
                        <p class="text-light ml-2">
                            4. Za sporządzenie zaświadczenia o powołaniu wykonawcy testamentu maksymalna stawka wynosi 30 zł.
                        </p>
                        <p class="text-light mb-0">
                            Art. 10b. Stawki za czynności dokumentujące powołanie lub odwołanie zarządcy sukcesyjnego
                        </p>
                        <p class="text-light ml-2 mb-0">
                            1. Za sporządzenie aktu powołania zarządcy sukcesyjnego lub aktu odwołania zarządcy sukcesyjnego
                            maksymalna stawka wynosi 50 zł.
                        </p>
                        <p class="text-light ml-2 mb-0">
                            2. Za sporządzenie oświadczenia o zgodzie na powołanie zarządcy sukcesyjnego, oświadczenia o zgodzie na odwołanie zarządcy sukcesyjnego lub oświadczenia osoby powołanej na zarządcę sukcesyjnego o wyrażeniu zgody na pełnienie tej funkcji oraz braku prawomocnie orzeczonych wobec niej zakazów, o których mowa w art. 8 ust. 2 ustawy z dnia 5 lipca 2018 r. o zarządzie sukcesyjnym przedsiębiorstwem osoby fizycznej (Dz. U. poz. 1629), maksymalna stawka wynosi 50 zł.
                        </p>
                        <p class="text-light ml-2 mb-0">
                            3. Za sporządzenie protokołu powołania zarządcy sukcesyjnego lub protokołu odwołania zarządcy sukcesyjnego maksymalna stawka wynosi 100 zł.
                        </p>
                        <p class="text-light ml-2">
                            4. Za sporządzenie protokołu rezygnacji zarządcy sukcesyjnego maksymalna stawka wynosi 50 zł.
                        </p>
                        <p class="text-light mb-0">
                            § 11. Stawki za akt obejmujący kilka czynności
                        </p>
                        <p class="text-light ml-2 mb-0">
                            1. Jeżeli jednym aktem notarialnym, sporządzonym między tymi samymi osobami, objęto kilka czynności dotyczących tego samego przedmiotu i pozostających ze sobą w takim stosunku, że jedna z tych czynności ma charakter czynności głównej, a inne mają charakter czynności ubocznych i nie mogą istnieć bez czynności głównej - za sporządzenie tego aktu notarialnego stosuje się maksymalną stawkę przewidzianą dla czynności głównej.
                        </p>
                        <p class="text-light ml-2 mb-0">
                            2. W razie gdy poszczególne czynności między tymi samymi osobami dotyczą różnych przedmiotów, wartość tych przedmiotów zlicza się, jeżeli dla dokonywanych czynności przewidziana jest ta sama maksymalna stawka. Jeżeli dla tych czynności przewidziane są różne maksymalne stawki, stosuje się je za każdą czynność z osobna.
                        </p>
                        <p class="text-light ml-2">
                            3. Jeżeli akt notarialny obejmuje kilka czynności różnych osób, stosuje się maksymalne stawki przewidziane za każdą czynność z osobna.
                        </p>
                        <p class="text-light mb-0">
                            § 12. Stawki za wypisy, odpisy lub wyciągi z dokumentu
                        </p>
                        <p class="text-light ml-2 mb-0">
                            1. Za sporządzenie wypisu, odpisu lub wyciągu z akt notarialnych lub innego dokumentu maksymalna stawka wynosi 6 zł za każdą rozpoczętą stronę.
                        </p>
                        <p class="text-light ml-2">
                            2. Za stronę uważa się tekst obejmujący nie mniej niż 25 wierszy.
                        </p>
                        <p class="text-light mb-0">
                            § 13. Stawki za poświadczenia
                        </p>
                        <p class="text-light ml-2 mb-0">
                            Maksymalna stawka wynosi
                        </p>
                        <p class="text-light ml-4 mb-0">
                            1) za poświadczenie własnoręczności podpisu albo odcisku palca osoby niepiśmiennej lub niemogącej pisać:
                        </p>
                        <p class="text-light ml-5 mb-0">
                            a) na dokumentach, jeżeli przedmiot jest oznaczony sumą pieniężną - 1/10 maksymalnej stawki, jaka należałaby się, gdyby dokument sporządzono w formie aktu notarialnego, nie więcej jednak niż 300 zł,
                        </p>
                        <p class="text-light ml-5 mb-0">
                            b) na pełnomocnictwach i innych dokumentach - 20 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            2) za poświadczenie zgodności odpisu z okazanym dokumentem, za każdą stronę - 6 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            3) za poświadczenie czasu okazania dokumentu, za każdą stronę - 6 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            4) za poświadczenie pozostawania przy życiu:
                        </p>
                        <p class="text-light ml-5 mb-0">
                            a) w celu otrzymania emerytury, renty lub innych świadczeń z ubezpieczenia społecznego - 5 zł,
                        </p>
                        <p class="text-light ml-5 mb-0">
                            b) w innym celu - 30 zł;
                        </p>
                        <p class="text-light ml-4">
                            5) za poświadczenie pozostawania osoby w określonym miejscu - 30 zł.
                        </p>
                        <p class="text-light mb-0">
                            § 14. Stawka za doręczenie oświadczeń
                        </p>
                        <p class="text-light ml-2">
                            Za doręczenie stronie przeciwnej oświadczenia wniesionego ustnie do protokołu albo wręczonego lub przesłanego notariuszowi maksymalna stawka wynosi 40 zł.
                        </p>
                        <p class="text-light mb-0">
                            § 15. Stawki za sporządzenie protestu
                        </p>
                        <p class="text-light ml-2 mb-0">
                            1. Za sporządzenie protestu maksymalna stawka wynosi przy wartości kwoty ulegającej zaprotestowaniu:
                        </p>
                        <p class="text-light ml-4 mb-0">
                            1) do 1.000 zł włącznie - 5 zł;
                        </p>
                        <p class="text-light ml-4 mb-0">
                            2) powyżej 1.000 zł - 5 zł + 0,5 % od nadwyżki ponad 1.000 zł, nie więcej jednak niż 2.500 zł.
                        </p>
                        <p class="text-light ml-2">
                            2. Jeżeli osoba, przeciwko której protest ma być skierowany, uczyni zadość wezwaniu przed sporządzeniem protestu, maksymalna stawka wynosi połowę stawki określonej w ust. 1.
                        </p>
                        <p class="text-light mb-0">
                            § 15a. Stawki za czynności sprzedaży przedmiotu zastawu rejestrowego
                        </p>
                        <p class="text-light ml-2 mb-0">
                            1. Za każdą rozpoczętą godzinę czynności sprzedaży przedmiotu zastawu rejestrowego w drodze przetargu publicznego maksymalna stawka wynosi 3 % przeciętnego wynagrodzenia miesięcznego w gospodarce narodowej w roku poprzednim, ogłaszanego przez Prezesa Głównego Urzędu Statystycznego w Dzienniku Urzędowym Rzeczypospolitej Polskiej "Monitor Polski", zgodnie z art. 5 wysokość odpisu podstawowego na Fundusz ust. 7 ustawy z dnia 4 marca 1994 r. o zakładowym funduszu świadczeń socjalnych (Dz. U. z 2017 r. poz. 2191 i 2371), zwanego dalej "przeciętnym wynagrodzeniem miesięcznym".
                        </p>
                        <p class="text-light ml-2 mb-0">
                            2. Za czynność wymienioną w ust. 1, kontynuowaną w drugim dniu i kolejnych dniach, maksymalna stawka wynosi 50 % stawki określonej w ust. 1.
                        </p>
                        <p class="text-light ml-2">
                            3. Przepisów ust. 1 i 2 nie stosuje się w przypadku sporządzenia aktu notarialnego dokumentującego przebieg przetargu.
                        </p>
                        <p class="text-light mb-0">
                            § 16. Stawka za inne czynności notarialne
                        </p>
                        <p class="text-light ml-2">
                            Za dokonanie czynności notarialnej niewymienionej w przepisach poprzedzających maksymalna stawka wynosi 200 zł.
                        </p>
                        <p class="text-light mb-0">
                            § 17. Wynagrodzenie za dokonanie czynności notarialnej poza kancelarią
                        </p>
                        <p class="text-light ml-2 mb-0">
                            1. Maksymalna kwota, o którą może być zwiększone wynagrodzenie za dokonanie czynności notarialnej poza kancelarią notarialną, wynosi:
                        </p>
                        <p class="text-light ml-4 mb-0">
                            1) w porze dziennej - 50 zł,
                        </p>
                        <p class="text-light ml-4 mb-0">
                            2) w porze nocnej oraz w dni wolne od pracy - 100 zł
                            - za każdą godzinę niezbędną do dokonania tej czynności od opuszczenia kancelarii do powrotu.
                        </p>
                        <p class="text-light ml-2">
                            2. Za porę dzienną liczy się czas między godziną 8 a 20.
                        </p>
                        <p class="text-light">
                            Za wynagrodzenie należne notariuszowi odpowiadają strony solidarnie.
                        </p>
                        <p class="text-light mb-0">
                            Wynagrodzenie notariusza zostanie powiększone o należny podatek VAT, obecnie 23%.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section payments">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="documents-items" id="podatki">
                    <div>
                        <h5 class="documents-item--title text-dark text-center mb-20">
                            Podatki
                        </h5>
                        <p class="text-light">
                            Oprócz taksy notarialnej, notariusz jako płatnik pobiera podatki i wpłaca je organowi podatkowemu.
                        </p>
                        <p class="text-light mb-0">
                            Są to:
                        </p>
                        <p class="text-light ml-2">
                            • podatek od czynności cywilnoprawnych<br>
                            • podatek od spadków i darowizn
                        </p>
                        <p class="text-light">
                            Podatek od czynności cywilnoprawnych pobierany jest przez notariusza od wszystkich podlegających temu podatkowi czynności dokonywanych w formie aktu notarialnego, np. od umowy: sprzedaży, zamiany, dożywocia, działu spadku oraz zniesienia współwłasności - w części dotyczącej spłat lub dopłat, umowie spółki oraz przy ustanowieniu hipoteki i odpłatnej służebności.
                        </p>
                        <p class="text-light">
                            Podatek od spadków i darowizn pobierany jest przez notariusza tylko od darowizny dokonanej w formie aktu notarialnego albo zawartej w tej formie umowy nieodpłatnego zniesienia współwłasności lub ugody w tym przedmiocie.
                        </p>
                        <p class="text-light mb-0">
                            Ustawa z dnia 9 września 2000 roku o podatku od czynności cywilnoprawnych oraz ustawa
                            z dnia 28 lipca 1983 roku o podatku od spadków i darowizn określają szczegółowo: podstawę opodatkowania, stawki podatku, zwolnienia, itp.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light payments">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="documents-items" id="oplaty-sadowe">
                    <div>
                        <h5 class="documents-item--title text-dark text-center mb-20">
                            Opłaty sądowe
                        </h5>
                        <p class="text-light mb-0">
                            Notariusz pobiera również opłaty sądowe, które należy uiścić w przypadku dokonywania czynności, w związku z którymi w akcie notarialnym zawierany jest wniosek do sądu prowadzącego księgi wieczyste, na przykład o wpis własności, wpisanie w księdze roszczenia czy wykreślenie hipoteki. Notariusz zaznacza w akcie notarialnym wysokość pobranej opłaty sądowej. Notariusz obowiązany jest uzależnić sporządzenie aktu notarialnego od uprzedniego uiszczenia przez strony należnej opłaty sądowej. Wysokość opłat sądowych określona jest w ustawie z dnia 28 lipca 2005 roku o kosztach sądowych w sprawach cywilnych.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /section -->
{{ end }}