{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- section -->

<section class="section bg-light notarial-activities">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-light">
                    Przed dokonaniem każdej czynności zalecany jest kontakt z notariuszem bądź
                    pracownikiem kancelarii notarialnej w celu ustalenia warunków, treści oraz
                    formy czynności notarialnej, w celu indywidualnego ustalenia kosztów czynności,
                    a także w celu skompletowania wymaganych dokumentów, co pozwoli na sprawne
                    przeprowadzenie czynności notarialnej w ustalonym przez strony terminie.
                </p>
                <p class="text-light">
                    Zgodnie z ustawą z dnia 14 lutego 1991 roku - Prawo o notariacie:
                </p>
                <p class="text-light mb-0">
                    Art. 1.
                </p>
                <p class="text-light ml-2">
                    § 1. Notariusz jest powołany do dokonywania czynności, którym strony są
                    obowiązane lub pragną nadać formę notarialną (czynności notarialnych).<br>
                    § 2. W wypadkach określonych w ustawie czynności notarialnych mogą dokonywać
                    również zastępca notarialny lub aplikant notarialny.
                </p>
                <p class="text-light mb-0">
                    Art. 2.
                </p>
                <p class="text-light ml-2">
                    § 1. Notariusz w zakresie swoich uprawnień, o których mowa w art. 1, działa jako
                    osoba zaufania publicznego, korzystając z ochrony przysługującej funkcjonariuszom
                    publicznym.<br>
                    § 2. Czynności notarialne, dokonane przez notariusza zgodnie z prawem, mają
                    charakter dokumentu urzędowego.<br>
                    § 3. Czynności notarialnych dokonuje się w języku polskim. Na żądanie strony
                    notariusz może dokonać dodatkowo tej czynności w języku obcym, wykorzystując
                    własną znajomość języka obcego wykazaną w sposób określony dla tłumaczy
                    przysięgłych lub korzystając z pomocy tłumacza przysięgłego.
                </p>
                <p class="text-light mb-0">
                    Art. 3.
                </p>
                <p class="text-light ml-2">
                    § 1. Czynności notarialnych notariusz dokonuje w kancelarii notarialnej, zwanej
                    dalej „kancelarią”.<br>
                    § 2. Czynność notarialna może być dokonana także w innym miejscu, jeżeli
                    przemawia za tym charakter czynności lub szczególne okoliczności.
                </p>
                <p class="text-light mb-0">
                    Art. 79.
                </p>
                <p class="text-light ml-2">
                    Notariusz dokonuje następujących czynności:<br>
                    1) sporządza akty notarialne;<br>
                    1a) sporządza akty poświadczenia dziedziczenia;<br>
                    2) sporządza poświadczenia;<br>
                    3) doręcza oświadczenia;<br>
                    4) spisuje protokoły;<br>
                    5) sporządza protesty weksli i czeków;<br>
                    6) przyjmuje na przechowanie pieniądze, papiery wartościowe, dokumenty, dane na
                    informatycznym nośniku danych, o którym mowa w przepisach o informatyzacji
                    działalności
                    podmiotów realizujących zadania publiczne;<br>
                    7) sporządza wypisy, odpisy i wyciągi dokumentów;<br>
                    8) sporządza, na żądanie stron, projekty aktów, oświadczeń i innych dokumentów;<br>
                    9) sporządza inne czynności wynikające z odrębnych przepisów.
                </p>
                <p class="text-light mb-0">
                    Art. 80.</p>
                <p class="text-light ml-2">
                § 1. Akty i dokumenty powinny być sporządzone przez notariusza w sposób zrozumiały i
                przejrzysty.<br>
                § 2. Przy dokonywaniu czynności notarialnych notariusz jest obowiązany czuwać nad
                należytym zabezpieczeniem praw i słusznych interesów stron oraz innych osób, dla
                których czynność ta może powodować skutki prawne.<br>
                § 3. Notariusz jest obowiązany udzielać stronom niezbędnych wyjaśnień dotyczących
                dokonywanej czynności notarialnej.<br>
                § 4. Notariusz może sprostować protokołem niedokładności, błędy pisarskie,
                rachunkowe lub inne oczywiste omyłki. Do protokołu nie stosuje się przepisów
                    art. 5, art. 92 § 1 pkt 4–8 i art. 94 § 1.
                </p>
                <p class="text-light mb-0">
                    Art. 81.
                </p>
                <p class="text-light ml-2">
                    Notariusz odmówi dokonania czynności notarialnej sprzecznej z prawem.
                </p>
                <p class="text-light mb-0">
                    Art. 82.
                </p>
                <p class="text-light ml-2">
                    Osobę, której odmówiono dokonania czynności notarialnej, należy pouczyć o prawie
                    i trybie zaskarżenia odmowy, a na jej pisemne żądanie doręczyć w terminie tygodnia
                    uzasadnienie odmowy.
                </p>
                <p class="text-light mb-0">
                    Art. 83.
                </p>
                <p class="text-light ml-2">
                    § 1. Na odmowę dokonania czynności notarialnej osoba zainteresowana może wnieść,
                    w terminie tygodnia, zażalenie do sądu wojewódzkiego10) właściwego ze względu na
                    siedzibę kancelarii notarialnej. Zażalenie wnosi się za pośrednictwem notariusza,
                    który jest obowiązany ustosunkować się do zażalenia w terminie tygodnia i wraz
                    z zażaleniem przedstawić swoje stanowisko sądowi. Sąd rozpoznaje zażalenie
                    na rozprawie, stosując przepisy Kodeksu postępowania cywilnego.<br>
                    § 2. Notariusz może, jeżeli uzna zażalenie za słuszne, dokonać czynności
                    notarialnej; w tym przypadku nie nadaje zażaleniu dalszego biegu.
                </p>
                <p class="text-light mb-0">
                    Art. 86.
                </p>
                <p class="text-light ml-2">
                    Notariuszowi nie wolno dokonywać czynności notarialnej, jeżeli poweźmie
                    wątpliwość, czy strona czynności notarialnej ma zdolność do czynności prawnych.
                </p>
                <p class="text-light mb-0">
                    Art. 87.</p>
                <p class="text-light ml-2">
                    § 1. Jeżeli osoba biorąca udział w czynnościach:<br>
                    1) nie zna języka polskiego i do czynności nie jest dołączony przekład na inny znany tej osobie język, notariusz powinien
                    przetłumaczyć akt lub inny dokument osobiście albo przy pomocy tłumacza; przepis art. 2 § 3
                    stosuje się;<br>
                    2) jest głucha lub głuchoniema, notariusz jest obowiązany przekonać się, że
                    treść czynności jest jej dokładnie znana i zrozumiała, z tym że notariusz może przywołać do
                    czynności biegłego;<br>
                    3) jest niewidoma, głucha, niema lub głuchoniema, notariusz na życzenie takiej
                    osoby
                    powinien przywołać do czynności wskazaną przez nią zaufaną osobę; o powyższym
                    notariusz
                    powinien uprzedzić osoby zainteresowane;<br>
                    4) nie umie lub nie może pisać, powinna na dokumencie złożyć tuszowy odcisk
                    palca; obok
                    tego odcisku zaś inna osoba wpisze imię i nazwisko osoby nieumiejącej lub
                    niemogącej pisać,
                    umieszczając swój podpis;<br>
                    5) może złożyć podpis jedynie w alfabecie nieznanym notariuszowi, należy
                    stwierdzić, że jest
                    to podpis tej osoby.<br>
                    § 2. O zachowaniu warunków przewidzianych w § 1 pkt 2 i 3, a także o sposobie
                    stwierdzenia
                    okoliczności, o których mowa w § 1, bądź o niemożności złożenia podpisu lub
                    tuszowego
                    odcisku – notariusz czyni stosowną wzmiankę w treści sporządzonego dokumentu.<br>
                    § 3. Nie może być świadkiem czynności notarialnej osoba będąca z zawierającymi
                    czynność
                    lub z osobami, na których rzecz czynność jest dokonywana, w takim stosunku,
                    który nie
                    pozwala notariuszowi w jej imieniu ani na jej rzecz dokonać czynności.</p>
                <p class="text-light mb-0">
                    Art. 91.
                </p>
                <p class="text-light ml-2">
                    Notariusz sporządza akt notarialny, jeżeli wymaga tego przepis prawa lub taka
                    jest wola
                    stron.</p>
                <p class="text-light mb-0">
                    Art. 95a.
                </p>
                <p class="text-light ml-2">
                    Notariusz sporządza akt poświadczenia dziedziczenia ustawowego lub
                    testamentowego, z
                    wyłączeniem dziedziczenia na podstawie testamentów szczególnych.</p>
                <p class="text-light mb-0">
                    Art. 96.
                </p>
                <p class="text-light ml-2">
                    Notariusz poświadcza:<br>
                    1) własnoręczność podpisu;<br>
                    2) zgodność odpisu, wyciągu lub kopii z okazanym dokumentem;<br>
                    3) datę okazania dokumentu;<br>
                    4) pozostawanie osoby przy życiu lub w określonym miejscu.</p>
                <p class="text-light mb-0">
                    Art. 97.
                </p>
                <p class="text-light ml-2">
                    Każde poświadczenie powinno zawierać datę i oznaczenie miejsca jego
                    sporządzenia, na
                    żądanie – również godzinę dokonania czynności, oznaczenie kancelarii, podpis
                    notariusza i
                    jego pieczęć.</p>
                <p class="text-light mb-0">
                    Art. 98.
                </p>
                <p class="text-light ml-2">
                    Notariusz stwierdza zgodność odpisu, wyciągu lub kopii z okazanym dokumentem.
                    Jeżeli
                    okazany dokument zawiera cechy szczególne (dopiski, poprawki, uszkodzenia),
                    notariusz
                    stwierdza to w poświadczeniu.</p>
                <p class="text-light mb-0">
                    Art. 99.
                </p>
                <p class="text-light ml-2">
                    § 1. Notariusz poświadcza na okazanym mu dokumencie datę, a na żądanie stron
                    także
                    godzinę i minutę okazania tego dokumentu.<br>
                    § 2. W poświadczeniu notariusz wymienia imię, nazwisko i miejsce zamieszkania
                    osoby, która
                    dokument okazała.</p>
                <p class="text-light mb-0">
                    Art. 100.
                </p>
                <p class="text-light ml-2">
                    Pozostawanie przy życiu lub w określonym miejscu danej osoby poświadcza
                    notariusz w razie
                    stawiennictwa tej osoby w kancelarii notariusza albo w razie przekonania się o
                    tym fakcie
                    przez notariusza poza kancelarią. Notariusz w poświadczeniu ustala tożsamość tej
                    osoby oraz
                    określa dzień, godzinę i minutę stwierdzenia pozostawania osoby przy życiu lub w
                    określonym miejscu.</p>
                <p class="text-light mb-0">
                    Art. 102.
                </p>
                <p class="text-light ml-2">
                    § 1. Na żądanie strony notariusz doręcza na piśmie jej oświadczenie, mogące mieć
                    skutki
                    prawne, wskazanej przez nią stronie przeciwnej.<br>
                    § 2. Żądający doręczenia wnosi ustnie do protokołu, wręcza lub przesyła
                    notariuszowi
                    podpisaną przez siebie treść oświadczenia.<br>
                    § 3. Doręczenie oświadczenia następuje w miejscu wskazanym, przy odpowiednim
                    zastosowaniu przepisów Kodeksu postępowania cywilnego dotyczących doręczania
                    pism
                    procesowych.<br>
                    § 4. Z dokonanej czynności notariusz spisuje protokół. Jeżeli strona przeciwna
                    poda ustnie do
                    protokołu odpowiedź lub wręczy pisemną odpowiedź i oświadczy, że protokół
                    podpisze,
                    notariusz zamieszcza odpowiedź w protokole.<br>
                    § 5. Notariusz wydaje poświadczenie doręczenia oświadczenia, w którym zamieszcza
                    odpowiedź, jeżeli była udzielona w sposób określony w § 4.<br>
                    § 6. Na wyraźne żądanie osoby, żądającej doręczenia oświadczenia, notariusz może
                    również
                    dokonać doręczenia listem poleconym. W tym przypadku w protokole zamieszcza się
                    treść
                    doręczonego oświadczenia i wzmiankę o przesłaniu go listem poleconym.</p>
                <p class="text-light mb-0">
                    Art. 103.
                </p>
                <p class="text-light ml-2">
                    Doręczenia notariusz może dokonywać przez zatrudnionych w kancelarii
                    pracowników.</p>
                <p class="text-light mb-0">
                    Art. 104.
                </p>
                <p class="text-light ml-2">
                    § 1. Notariusz spisuje protokoły walnych zgromadzeń organizacji społecznych,
                    stowarzyszeń,
                    spółdzielni, spółek i innych osób prawnych w przypadkach prawem przewidzianych.<br>
                    § 2. Jeżeli statut osoby prawnej, o której mowa w § 1, lub przepis szczególny
                    nie stanowią
                    inaczej, protokół podpisują przewodniczący zgromadzenia i notariusz.<br>
                    § 3. Notariusz spisuje również protokoły, w tym protokoły dziedziczenia, w celu
                    stwierdzenia
                    przebiegu pewnych czynności i zdarzeń wywołujących skutki prawne, a w
                    szczególności
                    dotyczące stawiennictwa stron i złożonych przez nie oświadczeń, a także – na
                    żądanie strony
                    stawającej – niestawiennictwa strony drugiej.<br>
                    § 4. Protokoły spisuje się w formie aktu notarialnego.</p>
                <p class="text-light mb-0">
                    Art. 105.
                </p>
                <p class="text-light ml-2">
                    Przy sporządzaniu protestów weksli i czeków notariusz stosuje przepisy prawa
                    właściwe dla
                    tych czynności.</p>
                <p class="text-light mb-0">
                    Art. 106.
                </p>
                <p class="text-light ml-2">
                    § 1. Notariusz przyjmuje na przechowanie wszelkiego rodzaju dokumenty, także w
                    kopertach
                    zamkniętych.<br>
                    § 2. Notariusz przyjmuje na przechowanie informatyczny nośnik danych, o którym
                    mowa w
                    art. 79 pkt 6, zabezpieczony w sposób uniemożliwiający zapoznanie się z jego
                    treścią.<br>
                    § 3. W przypadku złożenia na przechowanie w kopercie zamkniętej dokumentu lub
                    informatycznego nośnika danych, o którym mowa w art. 79 pkt 6, zabezpieczonego w
                    sposób
                    uniemożliwiający zapoznanie się z jego treścią, koperta lub zabezpieczenie
                    powinno być
                    zaopatrzone w podpis składającego.<br>
                    § 4. Do informatycznego nośnika danych, o którym mowa w art. 79 pkt 6, stosuje
                    się
                    odpowiednio przepisy wydane na podstawie art. 5 ust. 2c ustawy z dnia 14 lipca
                    1983 r. o
                    narodowym zasobie archiwalnym i archiwach (Dz. U. z 2011 r. Nr 123, poz. 698 i
                    Nr 171, poz.
                    1016).</p>
                <p class="text-light mb-0">
                    Art. 107.
                </p>
                <p class="text-light ml-2">
                    § 1. Z przyjęcia dokumentu na przechowanie notariusz spisuje protokół, w którym
                    wymienia
                    datę przyjęcia, ustala tożsamość osoby składającej dokument oraz wskazuje, komu
                    i pod
                    jakimi warunkami dokument bądź jego odpis ma być wydany. Dokument przyjęty na
                    przechowanie wydaje się osobie wymienionej w protokole lub jej następcy
                    prawnemu.<br>
                    § 2. Przepis § 1 stosuje się odpowiednio do informatycznego nośnika danych, o
                    którym
                    mowa w art. 106.</p>
                <p class="text-light mb-0">
                    Art. 108.
                </p>
                <p class="text-light ml-2">
                    § 1. Notariusz w związku z dokonywaną w jego kancelarii czynnością ma prawo
                    przyjąć na
                    przechowanie, w celu wydania ich osobie wskazanej przy złożeniu lub jej następcy
                    prawnemu, papiery wartościowe albo pieniądze w walucie polskiej lub obcej. Dla
                    udokumentowania tych czynności notariusz prowadzi specjalne konto bankowe.<br>
                    § 2. Z przyjęcia depozytu notariusz spisuje protokół, w którym wymienia datę
                    przyjęcia,
                    ustala tożsamość osoby składającej, datę mającego nastąpić wydania oraz imię,
                    nazwisko i
                    miejsce zamieszkania osoby odbierającej depozyt. Wydanie depozytu następuje za
                    pokwitowaniem.</p>
                <p class="text-light mb-0">
                    Art. 110.
                </p>
                <p class="text-light ml-2">
                    § 1. Wypisy aktu notarialnego wydaje się stronom aktu lub osobom, dla których
                    zastrzeżono
                    w akcie prawo otrzymania wypisu, a także ich następcom prawnym.<br>
                    § 2. Za zgodą stron lub na podstawie prawomocnego postanowienia sądu
                    wojewódzkiego, w
                    którego okręgu znajduje się kancelaria notariusza, wypis aktu notarialnego może
                    być wydany
                    także innym osobom. Sąd orzeka w tym przedmiocie w trybie postępowania
                    nieprocesowego, po wysłuchaniu stron aktu notarialnego, jeżeli stawią się na
                    wezwanie.
                    Postanowienie sądu wojewódzkiego nie podlega zaskarżeniu.<br>
                    § 3. W nagłówku wypisu aktu zaznacza się, że wydany dokument jest wypisem. Wypis
                    powinien być dosłownym powtórzeniem oryginału, jednak poprawek i przekreśleń
                    znajdujących się w oryginale nie należy zamieszczać w wypisie. Na końcu wypisu
                    zaznacza
                    się, komu i kiedy wypis wydano. Wypis podpisuje notariusz i opatruje pieczęcią.
                    Wypis
                    mający więcej niż jeden arkusz powinien być ponumerowany, połączony, parafowany
                    i
                    spojony pieczęcią.</p>
                <p class="text-light mb-0">
                    Art. 111.
                </p>
                <p class="text-light ml-2">
                    § 1. Informacje pisemne i inne dokumenty wydaje się osobom, na których żądanie
                    zostały
                    dokonane czynności notarialne; jeżeli z treści stosunku prawnego to wynika,
                    wydaje się je
                    stronie, której czynność notarialna dotyczy.<br>
                    § 2. Notariusz w przypadkach prawem przewidzianych przesyła sądom i innym
                    organom
                    państwowym informacje pisemne o sporządzonych dokumentach i wypisy tych
                    dokumentów.<br>
                    § 3. Informacji ustnych o dokonanych czynnościach notariusz może jedynie
                    udzielić
                    instytucjom i osobom, które mają prawo otrzymać wypisy dokumentów
                    stwierdzających te
                    czynności.</p>
                <p class="text-light mb-0">
                    Art. 112.
                </p>
                <p class="text-light ml-2">
                    § 1. Do wydawania wyciągów i odpisów stosuje się te same zasady, na jakich
                    wydaje się
                    wypisy. § 2. Przepis art. 110 § 3 stosuje się odpowiednio do wyciągów i odpisów.
                    <br>
                    <br>
                    Katalog czynności dokonywanych przez notariusza uregulowany jest więc
                    szczegółowo w
                    wyżej wspomnianej ustawie z dnia 14 lutego 1991 roku - Prawo o notariacie,
                    spośród
                    którego wymienić można czynności notarialne z zakresu:
                </p>
                <ul class="text-light">
                    <p class="text-light">
                        1. ogólnych przepisów Kodeksu cywilnego (takie, jak np.: pełnomocnictwo
                        ogólne,
                        pełnomocnictwo szczególne, pełnomocnictwo rodzajowe, protokół przyjęcia
                        oświadczenia o odwołaniu pełnomocnictwa, potwierdzenie czynności falsus
                        prokuratora, oferta, przyjęcie oferty, …),
                    </p>
                    <p class="text-light">
                        2. prawa rzeczowego (takie, jak np.: służebność mieszkania, służebność
                        drogowa,
                        służebność przesyłu, użytkowanie, oświadczenie o zrzeczeniu się
                        ograniczonego
                        prawa
                        rzeczowego, zniesienie współwłasności, zniesienie wspólności spółdzielczego
                        własnościowego prawa, …),
                    </p>
                    <p class="text-light">
                        3. zobowiązań (takie, jak np.: sprzedaż – nieruchomości, spółdzielczego
                        własnościowego
                        prawa, użytkowania wieczystego i własności gruntu, uznanie długu,
                        przedwstępna
                        umowa sprzedaży, umowa najmu, datio in solutum, przeniesienie własności
                        nieruchomości na zabezpieczenie, zwrotne przeniesienie po umowie
                        przeniesienia
                        na
                        zabezpieczenie, umowa zobowiązująca, umowa pożyczki, rozwiązanie umowy
                        sprzedaży, umowa ustanowienia odrębnej własności lokalu mieszkalnego i umowa
                        sprzedaży, zamiana (np. spółdzielczego własnościowego prawa na stanowiący
                        odrębną
                        nieruchomość lokal mieszkalny), ….),
                    </p>
                    <p class="text-light">
                        4. prawa rodzinnego (takie, jak np.: podział majątku, podział majątku z
                        przyjęciem długu, zbycie udziału w rzeczy należącej do majątku wspólnego za
                        zgodą małżonka, umowa
                        o alimentację, rozdzielność majątkowa małżeńska, rozdzielność majątkowa
                        małżeńska
                        z wyrównaniem dorobków, uznanie dziecka, rozwiązanie umowy majątkowej
                        małżeńskiej, darowizna na rzecz małoletniego, darowizna do wspólności
                        majątkowej
                        małżeńskiej, …),
                    </p>
                    <p class="text-light">
                        5. prawa spadkowego (takie, jak np.: testament z podstawieniem, testament z
                        poleceniem, testament z wydziedziczeniem, testament z zapisem zwykłym,
                        testament
                        z zapisem windykacyjnym, odwołanie testamentu, wykaz inwentarza, dział
                        spadku,
                        umowa o zrzeczenie się dziedziczenia, umowa zbycia spadku, oświadczenie o
                        przyjęciu
                        spadku, oświadczenie o odrzuceniu spadku, akt poświadczenia dziedziczenia,
                        protokół
                        dziedziczenia, protokół otwarcia i ogłoszenia testamentu, protokół powołania
                        zarządcy
                        sukcesyjnego, akt powołania zarządcy sukcesyjnego, protokół odwołania
                        zarządcy
                        sukcesyjnego, akt odwołania zarządcy sukcesyjnego, ….),
                    </p>
                    <p class="text-light">
                        6. prawa rolnego (takie, jak np.: zniesienie współwłasności nieruchomości
                        rolnej, umowa
                        dzierżawy nieruchomości rolnej, sprzedaż nieruchomości rolnej na rzecz
                        rolnika
                        indywidualnego, wykonanie prawa pierwokupu przez Krajowy Ośrodek Wsparcia
                        Rolnictwa, darowizna gospodarstwa rolnego, umowa sprzedaży udziału w
                        nieruchomości rolnej, warunkowa umowa sprzedaży, umowa przeniesienia
                        nieruchomości rolnej po umowie warunkowej, ….),
                    </p>
                    <p class="text-light">
                        7. prawa handlowego i korporacyjnego (takie, jak np.: protokół zwyczajnego
                        walnego
                        zgromadzenia spółki akcyjnej, pełnomocnictwo do zawiązania spółki z
                        ograniczoną
                        odpowiedzialnością, pełnomocnictwo do udziału w zgromadzeniach wspólników
                        spółki
                        z ograniczoną odpowiedzialnością i obejmowania udziałów, umowa spółki z
                        ograniczoną odpowiedzialnością, akt zawiązania spółki akcyjnej, umowa spółki
                        komandytowo-akcyjnej ze spółką z ograniczoną odpowiedzialnością jako
                        komplementariuszem, protokół spółki z ograniczoną odpowiedzialnością,
                        protokół
                        spółki komandytowo-akcyjnej, spółka komandytowa osób fizycznych, darowizna
                        ogółu
                        praw i obowiązków wspólnika w spółce komandytowej, oświadczenie o objęciu
                        udziałów w spółce z ograniczoną odpowiedzialnością i przystąpieniu nowego
                        wspólnika, wystąpienie wspólnika ze spółki cywilnej, ustanowienie fundacji,
                        oświadczenie o zmianie aktu założycielskiego spółki z o.o., …),
                    </p>
                    <p class="text-light">
                        8. gospodarki nieruchomościami (takie jak np.: sprzedaż nieruchomości
                        zabudowanej
                        przez gminę w trybie przetargowym, sprzedaż z bonifikatą przez gminę,
                        sprzedaż
                        przez
                        gminę lokalu na rzecz najemcy z hipotekami dla bonifikaty i reszty ceny,
                        ustanowienie
                        użytkowania przez gminę, ustanowienie służebności gruntowej przez gminę,
                        sprzedaż

                        nieruchomości z zasobu Skarbu Państwa, oddanie gruntu w użytkowanie
                        wieczyste
                        przez Skarb Państwa, …),
                    </p>
                    <p class="text-light">
                        9. prawa spółdzielczego i lokalowego (takie, jak np.: ustanowienie odrębnej
                        własności
                        samodzielnego lokalu łącznie z obciążeniem go hipoteką, umowa deweloperska,
                        umowa o podziale do korzystania z nieruchomości będącej przedmiotem
                        współwłasności, zmiana sposobu do korzystania z nieruchomości będącej
                        przedmiotem
                        współwłasności, przeniesienie przez spółdzielnię mieszkaniową budynku
                        mieszkalnego
                        na członka spółdzielni, protokół zebrania wspólnoty mieszkaniowej, umowa
                        deweloperska i umowa przedwstępna sprzedaży dotycząca garażu, umowa
                        przeniesienia w wykonaniu umowy deweloperskiej i umowa sprzedaży garażu,
                        …),
                    </p>
                    <p class="text-light">
                        10. hipoteki i ksiąg wieczystych (takie, jak np.: oświadczenie do złożenia
                        wniosku
                        wieczystoksięgowego w akcie, zwolnienie jednej z nieruchomości spod hipoteki
                        łącznej,
                        hipoteka ustanawiana na opróżnione miejsce hipoteczne, hipoteka łączna,
                        zobowiązanie do przeniesienia hipoteki na opróżnione miejsce hipoteczne,
                        …),
                    </p>
                    <p class="text-light">
                        11. prawa o notariacie (takie, jak np.: odmowa dokonania czynności
                        notarialnej z
                        uzasadnieniem odmowy, protokół przyjęcia na przechowanie – dokument,
                        protokół
                        przyjęcia na przechowanie – informatyczny nośnik danych, protokół przyjęcia
                        depozytu
                        – pieniądze, protokół niestawiennictwa strony, … ).
                    </p>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /section -->
{{ end }}