{{ define "main" }}

<!-- page title -->
<section class="page-title o-kancelarii" data-background="{{`images/o-kancelarii.jpg` | relURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="font-tertiary">{{.Title}}</h1>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<section class="section bg-light homepage-invite">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="d-flex">
          <div>
            <p class="text-light">Moja kancelaria notarialna mieści się w Rzeszowie, przy ul. Matejki 8A, na parterze budynku
              (w przejściu między ulicą Matejki, a ulicą Kopernika). W lokalu tym poprzednio mieścił się
              oddział Getin Noble Bank SA. Znajdujemy się w samym centrum miasta, w niedalekim
              sąsiedztwie:</p>
            <ul class="text-light">
              <li>
                Urzędu Miasta Rzeszowa – Wydziału Geodezji (Grodzki Ośrodka Dokumentacji
                Geodezyjnej i Kartograficznej) i Wydziału Architektury - ul. Kopernika 15 (ok. 130m),
              </li>
              <li class="text-light">
                Powiatowego Ośrodka Dokumentacji Geodezyjnej i Kartograficznej – ul. Bernardyńska 7 (ok. 200m),
              </li>
              <li class="text-light">
                Urzędu Miasta Rzeszowa - Wydziału Spraw Obywatelskich i Wydziału Finansowego - ul. Okrzei 1 (ok. 40m),
              </li>
              <li class="text-light">
                Urzędu Miasta Rzeszowa - Wydziału Ochrony Środowiska i Rolnictwa - ul. Rynek 7 (ok. 150m),
              </li>
              <li class="text-light">
                Podkarpackiego Urzędu Wojewódzkiego w Rzeszowie - ul. Grunwaldzka 15 (ok. 300m),
              </li>
              <li class="text-light">
                Urzędu Miasta Rzeszowa – Urzędu Stanu Cywilnego i Biura Ewidencji Działalności
                Gospodarczej i Zezwoleń - Plac Ofiar Getta 7 (ok. 330m),
              </li>
              <li class="text-light">
                Urzędu Miasta Rzeszowa - Wydziału Inwestycji - ul. Rynek 12 (ok. 180m),
              </li>
              <li class="text-light">
                Rady Izby Notarialnej w Rzeszowie - Rynek 18 – (ok. 170m).
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <img src="{{`images/invite.png`| relURL}}" class="img-fluid rounded mx-auto d-block" alt="O kancelari | Kancelarina Notarialna Anna Grygowicz-Haberek Notariusz w Rzeszowie">
      </div>
    </div>
  </div>
</section>

<section class="section homepage-invite">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="mb-0 text-light">
          Szczegółową mapkę z lokalizacją Kancelarii znajdą Państwo w zakładce kontakt.
        </p>
        <br>
        <p class="mb-0 text-light">
          Przestronne, jasne i komfortowe pomieszczenia kancelarii notarialnej umożliwią sprawną i
          wygodną obsługę Klientów. Klienci mogą skorzystać z bezprzewodowego dostępu do
          Internetu.
        </p>
        <br>
        <p class="mb-0 text-light">
          Kancelaria jest w pełni dostosowana do potrzeb osób niepełnosprawnych – lokal na parterze,
          bez schodów, wejście do lokalu bezpośrednio z ulicy Matejki, jak i z ulicy Kopernika.
        </p>
        <br>
        <p class="mb-0 text-light">
          W pobliżu siedziby kancelarii, tj. wzdłuż ulicy Kopernika, ulicy Okrzei, Placu Ofiar Getta, ulicy
          Słowackiego czy na Placu Farnym znajdą Państwo parking z licznymi miejscami postojowymi
          (w godzinach pracy kancelarii z racji strefy płatnego parkowania zawsze można znaleźć
          wolne miejsca). W pobliżu (ok. 340 metrów) znajduje się płatny parking podziemny - Parking
          &quot;Pod ogrodami&quot; (czynny w godz. 6.00 - 21.00). W bezpośrednim sąsiedztwie kancelarii
          znajdują się liczne przystanki komunikacji miejskiej. Dogodny dojazd zapewnia także bliskość
          dworca kolejowego i dworca autobusowego.
        </p>
        <br>
        <p class="mb-0 text-light">
          W bezpośrednim sąsiedztwie Kancelarii znajdują się też oddziały różnych banków, a także
          liczne biura nieruchomości.
        </p>
        <br>
        <p class="mb-0 text-light">
          W ramach mojej działalności oferuję Państwu profesjonalną obsługę w zakresie
          dokonywania czynności notarialnych zapewniając tym samym bezpieczeństwo obrotu
          prawnego. Gwarantuję, że świadczone przeze mnie usługi prawne dokonywane są z
          najwyższą starannością, a posiadana wiedza zapewnia ich poprawność i zgodność z
          powszechnie obowiązującymi przepisami prawa i etyką zawodową notariuszy.
        </p>
        <br>
        <p class="mb-0 text-light">
          Biuro notarialne czynne jest od poniedziałku do piątku w godzinach od 8:30 do 15:00.
          Istnieje możliwość ustalenia innego terminu dokonania czynności notarialnej po uprzednim
          uzgodnieniu jej z notariuszem.
        </p>
        <br>
        <p class="mb-0 text-light">
          W celu dokonania czynności notariusz może spotkać się z Państwem także poza Kancelarią
          (w domu, szpitalu, firmie klienta), jeżeli przemawia za tym charakter czynności lub
          szczególne okoliczności.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- /homepage-invite -->

{{ end }}