{{ if .Site.Params.contact.enable }}
<!-- contact -->

<button id="scrollTop" class="btn btn-lg back-to-top shadow-dark" role="button"><i class="fas fa-chevron-up"></i></button>

<!--<section class="section section-on-footer" data-background="{{`images/bg-dots.png` | absURL}}">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-12 text-center">-->
<!--        <h2 class="section-title">Zapytanie on-line</h2>-->
<!--      </div>-->
<!--      <div class="col-lg-8 mx-auto">-->
<!--        <div class="bg-white rounded text-center p-5 shadow-down">-->
<!--          <form id="submit_form" action="/submit" method="POST" class="row">-->
<!--            <div class="col-md-12">-->
<!--              <input type="text" id="name" name="name" placeholder="Imię i nazwisko" class="form-control px-0 mb-4">-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--              <input type="tel" id="phone" name="phone" placeholder="Telefon" class="form-control px-0 mb-4">-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--              <input type="email" id="email" name="email" placeholder="Adres email" class="form-control px-0 mb-4">-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--              <textarea name="message" id="message" class="form-control px-0 mb-4"-->
<!--                placeholder="Treść zapytania"></textarea>-->
<!--            </div>-->
<!--            <div class="col-lg-12 text-center">-->
<!--              <div id="g-recaptcha"></div>-->
<!--            </div>-->
<!--            <div class="col-lg-12 mx-auto">-->
<!--              <button type="submit" name="submit" class="btn btn-primary w-100 font-primary">Wyślij</button>-->
<!--            </div>-->
<!--            <div class="col-12 rodo-info">-->
<!--              <p class="text-light mb-0">Zgodnie z rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27-->
<!--                kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych-->
<!--                osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy-->
<!--                95/46/WE (ogólne rozporządzenie o ochronie danych), wyrażam zgodę na przetwarzanie-->
<!--                moich danych osobowych zawartych w formularzu kontaktowym dla potrzeb niezbędnych-->
<!--                do obsługi korespondencji.-->
<!--              </p>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!-- /contact -->
{{ end }}

<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5 class="text-light">Kontakt</h5>
          <p class="text-white paragraph-lg">
            tel. 506 550 710<br>
            tel. 17 741 54 99<br>
            e-mail: <a href="mailto:kancelaria@notariuszwrzeszowie.pl">kancelaria@notariuszwrzeszowie.pl</a>
          </p>
        </div>
        <div class="col-md-6">
          <h5 class="text-light">Adres</h5>
          <p class="text-white paragraph-lg">
            Kancelaria Notarialna Anna Grygowicz-Haberek Notariusz<br>
            35-064 Rzeszów<br>
            ul. Matejki 8A (parter)
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="alert text-center cookiealert" role="alert">
  <b>Ta strona wykorzystuje pliki cookies. <a href="/polityka-prywatnosci" target="_blank">Dowiedz się więcej</a></b>
  <button type="button" class="btn btn-primary btn-sm acceptcookies font-primary">
    Rozumiem
  </button>
</div>
<!-- /footer -->

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

<script>
  // Initialize and add the map
  function initMap() {
    var isMapExist = document.getElementById('map');

    if (isMapExist) {
      var location = {lat: 50.038153, lng: 22.003574};
      var map = new google.maps.Map(
              document.getElementById('map'), {
                zoom: 17,
                center: location,
              });
      var marker = new google.maps.Marker({position: location, map: map});
    }
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcRycerimcs_7KRpN3B_WN7nb24rDMOu8&callback=initMap">
</script>
<!--<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"-->
<!--        async defer>-->
<!--</script>-->

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}