{{ define "main" }}

  <!-- hero area -->
  <section class="hero-area overflow-hidden homepage" id="parallax">
    <div class="layer-bg homepage-background" id="background">
      <img class="img-fluid homepage-background-image" src="{{`images/background.jpg` | relURL}}" alt="bg-shape">
    </div>
    <div class="container homepage-title">
      <div class="row justify-content-end">
        <div class="col-lg-8 text-center">
          <img src="{{`images/emblem.png`| relURL}}" alt="Banner emblem" class="mb-3">
          <h2 class="text-black text-center font-weight-bold font-secondary">
            Kancelaria Notarialna
            <br>Anna Grygowicz-Haberek
            <br>Notariusz
          </h2>
        </div>
      </div>
    </div>
  </section>
  <!-- /hero area -->

<section class="section bg-light homepage-invite">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <!-- slider-item -->
        <div class="text-center">
          <h4 class="font-primary">
            Witam na stronie internetowej prowadzonej przeze mnie kancelarii notarialnej.<br>
            Zapraszam do zapoznania się z informacjami poniżej oraz zamieszczonymi na kolejnych podstronach.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- homepage-services -->
  <section class="section homepage-services">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="homepage-services--card card hover-shadow shadow">
            <a href="/czynnosci">
              <div class="card-body text-center px-4 py-5">
                <i class="icon mb-5 fas fa-balance-scale"></i>
                <h4 class="mb-4">Czynności</h4>
                <p>Przed dokonaniem każdej czynności zalecany jest kontakt z notariuszem bądź pracownikiem
                kancelarii notarialnej w celu ustalenia warunków.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="homepage-services--card card hover-shadow shadow">
            <a href="/dokumenty">
              <div class="card-body text-center px-4 py-5">
                <i class="icon mb-5 fas fa-folder"></i>
                <h4 class="mb-4">Dokumenty</h4>
                <p>Przeprowadzenie każdej czynności notarialnej powinno zostać poprzedzone kontaktem
                z notariuszem lub pracownikiem tutejszej kancelarii notarialnej.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="homepage-services--card card hover-shadow shadow">
            <a href="/przydatne">
              <div class="card-body text-center px-4 py-5">
                <i class="icon mb-5 fas fa-link"></i>
                <h4 class="mb-4">Przydatne linki</h4>
                <p>Tutaj znajdują się adresy aktów prawnych, które mogą okazać się pomocne.</p>
             </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="homepage-services--card card hover-shadow shadow">
            <a href="/oplaty">
              <div class="card-body text-center px-4 py-5">
                <i class="icon mb-5 fas fa-file-invoice"></i>
                <h4 class="mb-4">Opłaty</h4>
                <p>Informacje o należnościach związanych z czynnościami, które chcecie Państwo dokonać.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="homepage-services--card card hover-shadow shadow">
            <a href="/kontakt">
              <div class="card-body text-center px-4 py-5">
                <i class="icon mb-5 fas fa-phone"></i>
                <h4 class="mb-4">Kontakt</h4>
                <p>Dokładne informacje o lokalizacji kancelarii.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /homepage-services -->

  <!-- thankyou -->
  <section class="section bg-light testimonial-bg-shapes">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto testimonial-slider">
          <!-- slider-item -->
          <div class="text-center testimonial-content">
            <p class="mb-4">Dziękuję za odwiedzenie strony internetowej kancelarii notarialnej</p>
<!--            <img class="img-fluid rounded-circle mb-4 d-inline-block" src="avatar.jpg" alt="client-image">-->
            <h4 class="font-tertiary">Anna Grygowicz-Haberek</h4>
            <p class="mb-4">Notariusz</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /thankyou -->

{{ end }}
