{{ define "main" }}

<!-- page title -->
<section class="page-title kontakt" data-background="{{`images/kontakt.jpg` | relURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="font-tertiary">{{.Title}}</h1>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<section class="section contact-page position-relative" data-background="{{`images/bg-dots.png` | absURL}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3 contact-page-icon">
            <i class="far fa-address-card icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div class="contact-page-about">
            <h4>Kancelaria Notarialna<br>Anna Grygowicz-Haberek<br>Notariusz</h4>
            <p class="mb-0 text-light">35-064 Rzeszów</p>
            <p class="mb-0 text-light">ul. Matejki 8A (parter)</p>
            <p class="mb-0 text-light">tel. 506 550 710</p>
            <p class="mb-0 text-light">tel. 17 741 54 99</p>
            <p class="mb-0 text-light">e-mail: <a href="mailto:kancelaria@notariuszwrzeszowie.pl">kancelaria@notariuszwrzeszowie.pl</a></p>
            <p class="mb-0 text-light">www: <a href="https://www.notariuszwrzeszowie.pl" alt="Kancelaria Notarialna Anna Grygowicz-Haberek Notariusz">notariuszwrzeszowie.pl</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-7">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3 contact-page-icon">
            <i class="far fa-clock icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <h4>Godziny urzędowania Kancelarii:</h4>
            <p class="mb-0 text-light">poniedziałek: 8:30 - 15:00</p>
            <p class="mb-0 text-light">wtorek: 8:30 - 15:00</p>
            <p class="mb-0 text-light">środa: 8:30 - 15:00</p>
            <p class="mb-0 text-light">czwartek: 8:30 - 15:00</p>
            <p class="text-light">piątek: 8:30 - 15:00</p>
            <p class="mb-0 text-light">Istnieje możliwość ustalenia innego terminu (także w sobotę) dokonania czynności
              notarialnej po uprzednim uzgodnieniu jej z notariuszem, a także możliwość dokonania
              czynności notarialnej poza siedzibą Kancelarii, jeżeli przemawia za tym charakter czynności
              lub szczególne okoliczności.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="{{`images/kontakt-parking.jpg` | relURL}}" alt="Wejście do Kancelarii Notarialnej od strony ulicy Mikołaja Kopernika"
             class="iw-100 img-fluid rounded-lg">
      </div>
    </div>
  </div>
</section>


<div id="map"></div>

{{ end }}